.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr
}
.toggle-slide .toggle-blob,
.toggle-slide .toggle-off,
.toggle-slide .toggle-on {
  float: left
}
.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: grab;
  cursor: -webkit-grab
}
.toggle-modern .toggle-slide {
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.2);
  background-image: -o-linear-gradient(#c0c5c9,#a1a9af);
  background-image: -ms-linear-gradient(#c0c5c9,#a1a9af);
  -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.2),inset 0 0 0 1px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.15);
          box-shadow: inset 0 2px 1px rgba(0,0,0,.2),inset 0 0 0 1px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.15)
}
.toggle-modern .toggle-slide .toggle-off,
.toggle-modern .toggle-slide .toggle-on {
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,.1);
  font-size: 11px;
  -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(0,0,0,.2),inset 0 -1px 1px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.2);
          box-shadow: inset 0 2px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(0,0,0,.2),inset 0 -1px 1px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.2)
}
.toggle-modern .toggle-slide .toggle-off,
.toggle-modern .toggle-slide .toggle-off.active {
  background-image: -o-linear-gradient(#737e8d,#3f454e);
  background-image: -ms-linear-gradient(#737e8d,#3f454e)
}
.toggle-modern .toggle-slide .toggle-on,
.toggle-modern .toggle-slide .toggle-on.active {
  background-image: -o-linear-gradient(#4894cd,#2852a6);
  background-image: -ms-linear-gradient(#4894cd,#2852a6)
}
.toggle-modern .toggle-select .toggle-off,
.toggle-modern .toggle-select .toggle-on {
  background: 0 0
}
.toggle-modern .toggle-slide .toggle-blob {
  background-image: -o-linear-gradient(#c0c6c9,#81898f);
  background-image: -webkit-gradient(linear,left top, left bottom,from(#c0c6c9),to(#81898f));
  background-image: linear-gradient(#c0c6c9,#81898f);
  -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(0,0,0,.2),inset 0 -1px 1px rgba(0,0,0,.1),1px 1px 2px rgba(0,0,0,.2);
          box-shadow: inset 0 2px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(0,0,0,.2),inset 0 -1px 1px rgba(0,0,0,.1),1px 1px 2px rgba(0,0,0,.2);
  border-radius: 3px
}
.toggle-modern .toggle-slide .toggle-blob:hover {
  background-image: -o-linear-gradient(#a1a9af,#a1a9af);
  background-image: -webkit-gradient(linear,left top, left bottom,from(#a1a9af),to(#a1a9af));
  background-image: linear-gradient(#a1a9af,#a1a9af)
}