.toggle-slide {
    overflow              : hidden;
    cursor                : pointer;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
    direction             : ltr
}

.toggle-slide .toggle-blob,
.toggle-slide .toggle-off,
.toggle-slide .toggle-on {
    float : left
}

.toggle-slide .toggle-blob {
    position : relative;
    z-index  : 99;
    cursor   : hand;
    cursor   : -webkit-grab
}

.toggle-soft .toggle-slide {
    border-radius      : 5px;
    -webkit-box-shadow : 0 0 0 1px #999;
    box-shadow         : 0 0 0 1px #999
}

.toggle-soft .toggle-slide .toggle-blob,
.toggle-soft .toggle-slide .toggle-off,
.toggle-soft .toggle-slide .toggle-on {
    color       : rgba(0, 0, 0, .7);
    font-size   : 11px;
    text-shadow : 1px 1px #fff
}

.toggle-soft .toggle-select .toggle-inner .active,
.toggle-soft .toggle-slide .toggle-on {
    background : #d2ff52;
    background : -o-linear-gradient(top, #d2ff52 0, #91e842 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0, #d2ff52), to(#91e842));
    background : -webkit-linear-gradient(top, #d2ff52 0, #91e842 100%);
    background : linear-gradient(to bottom, #d2ff52 0, #91e842 100%)
}

.toggle-soft .toggle-select .toggle-on,
.toggle-soft .toggle-slide .toggle-off {
    background : #cfcfcf;
    background : -o-linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0, #cfcfcf), to(#f5f5f5));
    background : -webkit-linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    background : linear-gradient(to bottom, #cfcfcf 0, #f5f5f5 100%)
}

.toggle-soft .toggle-slide .toggle-blob {
    border-radius      : 4px;
    background         : #cfcfcf;
    background         : -o-linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    background         : -webkit-gradient(linear, left top, left bottom, color-stop(0, #cfcfcf), to(#f5f5f5));
    background         : -webkit-linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    background         : linear-gradient(to bottom, #cfcfcf 0, #f5f5f5 100%);
    -webkit-box-shadow : inset 0 0 0 1px #bbb, inset 0 0 0 2px #fff;
    box-shadow         : inset 0 0 0 1px #bbb, inset 0 0 0 2px #fff
}

.toggle-soft .toggle-slide .toggle-blob:hover {
    background         : #e4e4e4;
    background         : -o-linear-gradient(top, #e4e4e4 0, #f9f9f9 100%);
    background         : -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4e4e4), to(#f9f9f9));
    background         : -webkit-linear-gradient(top, #e4e4e4 0, #f9f9f9 100%);
    background         : linear-gradient(to bottom, #e4e4e4 0, #f9f9f9 100%);
    -webkit-box-shadow : inset 0 0 0 1px #ddd, inset 0 0 0 2px #ddd;
    box-shadow         : inset 0 0 0 1px #ddd, inset 0 0 0 2px #ddd
}
