.toggle-slide {
    overflow              : hidden;
    cursor                : pointer;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
    direction             : ltr
}

.toggle-slide .toggle-blob,
.toggle-slide .toggle-off,
.toggle-slide .toggle-on {
    float : left
}

.toggle-slide .toggle-blob {
    position : relative;
    z-index  : 99;
    cursor   : hand;
    cursor   : -webkit-grab
}

.toggle-dark .toggle-slide {
    border-radius      : 5px;
    -webkit-box-shadow : 0 0 0 1px #242529, 0 1px 0 1px #666;
    box-shadow         : 0 0 0 1px #242529, 0 1px 0 1px #666
}

.toggle-dark .toggle-slide .toggle-blob,
.toggle-dark .toggle-slide .toggle-off,
.toggle-dark .toggle-slide .toggle-on {
    color     : rgba(255, 255, 255, .7);
    font-size : 11px
}

.toggle-dark .toggle-select .toggle-inner .active,
.toggle-dark .toggle-slide .toggle-on {
    background : -o-linear-gradient(top, #1a70be 0, #31a2e1 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a70be), to(#31a2e1));
    background : -webkit-linear-gradient(top, #1a70be 0, #31a2e1 100%);
    background : linear-gradient(top, #1a70be 0, #31a2e1 100%)
}

.toggle-dark .toggle-select .toggle-on,
.toggle-dark .toggle-slide .toggle-off {
    background : -o-linear-gradient(top, #242529 0, #34363b 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0, #242529), to(#34363b));
    background : -webkit-linear-gradient(top, #242529 0, #34363b 100%);
    background : linear-gradient(top, #242529 0, #34363b 100%)
}

.toggle-dark .toggle-slide .toggle-blob {
    border-radius      : 4px;
    background         : -o-linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    background         : -webkit-gradient(linear, left top, left bottom, color-stop(0, #cfcfcf), to(#f5f5f5));
    background         : -webkit-linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    background         : linear-gradient(top, #cfcfcf 0, #f5f5f5 100%);
    -webkit-box-shadow : inset 0 0 0 1px #888, inset 0 0 0 2px #fff;
    box-shadow         : inset 0 0 0 1px #888, inset 0 0 0 2px #fff
}

.toggle-dark .toggle-slide .toggle-blob:hover {
    background         : -o-linear-gradient(top, silver 0, #dadada 100%);
    background         : -webkit-gradient(linear, left top, left bottom, color-stop(0, silver), to(#dadada));
    background         : -webkit-linear-gradient(top, silver 0, #dadada 100%);
    background         : linear-gradient(top, silver 0, #dadada 100%);
    -webkit-box-shadow : inset 0 0 0 1px #888, inset 0 0 0 2px #ddd;
    box-shadow         : inset 0 0 0 1px #888, inset 0 0 0 2px #ddd
}
