.markItUp * {
    margin: 0;
    padding: 0;
    outline: 0;
}

.markItUp a:link,
.markItUp a:visited {
    color: #000;
    text-decoration: none;
}

.markItUp {
    width: 700px;
    margin: 5px 0;
    border: 5px solid #f5f5f5;
}

.markItUpContainer {
    border: 1px solid #3c769d;
    background: url(images/bg-container.png) top left repeat-x #fff;
    padding: 5px 5px 2px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
}

.markItUpEditor {
    font: 12px/18px 'Courier New', Courier, monospace;
    padding: 5px 5px 5px 35px;
    border: 3px solid #3c769d;
    width: 643px;
    height: 320px;
    background: url(images/bg-editor.png) no-repeat #fff;
    clear: both;
    overflow: auto;
}

.markItUpPreviewFrame {
    overflow: auto;
    background-color: #fff;
    border: 1px solid #3c769d;
    width: 99.9%;
    height: 300px;
    margin: 5px 0;
}

.markItUpFooter {
    width: 100%;
    cursor: n-resize;
}

.markItUpResizeHandle {
    overflow: hidden;
    width: 22px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/handle.png);
    cursor: n-resize;
}

.markItUpHeader ul li {
    list-style: none;
    float: left;
    position: relative;
}

.markItUpHeader ul li ul {
    display: none;
}

.markItUpHeader ul li:hover > ul {
    display: block;
}

.markItUpHeader ul .markItUpDropMenu {
    background: url(images/menu.png) 115% 50% no-repeat;
    margin-right: 5px;
}

.markItUpHeader ul .markItUpDropMenu li {
    margin-right: 0;
}

.markItUpHeader ul .markItUpSeparator {
    margin: 0 10px;
    width: 1px;
    height: 16px;
    overflow: hidden;
    background-color: #ccc;
}

.markItUpHeader ul ul .markItUpSeparator {
    width: auto;
    height: 1px;
    margin: 0;
}

.markItUpHeader ul ul {
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    background: #f5f5f5;
    border: 1px solid #3c769d;
    height: inherit;
}

.markItUpHeader ul ul li {
    float: none;
    border-bottom: 1px solid #3c769d;
}

.markItUpHeader ul ul .markItUpDropMenu {
    background: url(images/submenu.png) 100% 50% no-repeat #f5f5f5;
}

.markItUpHeader ul ul ul {
    position: absolute;
    top: -1px;
    left: 150px;
}

.markItUpHeader ul ul ul li {
    float: none;
}

.markItUpHeader ul a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    background-repeat: no-repeat;
    padding: 3px;
    margin: 0;
}

.markItUpHeader ul ul a {
    display: block;
    text-indent: 0;
    width: 120px;
    padding: 5px 5px 5px 25px;
    background-position: 2px 50%;
}

.markItUpHeader ul ul a:hover {
    color: #fff;
    background-color: #3c769d;
}

.html .markItUpEditor {
    background-image: url(images/bg-editor-html.png);
}

.markdown .markItUpEditor {
    background-image: url(images/bg-editor-markdown.png);
}

.textile .markItUpEditor {
    background-image: url(images/bg-editor-textile.png);
}

.bbcode .markItUpEditor {
    background-image: url(images/bg-editor-bbcode.png);
}

.dotclear .markItUpEditor,
.wiki .markItUpEditor {
    background-image: url(images/bg-editor-wiki.png);
}
