body {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 80%;
  line-height: 110%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}
body.ajax-chat {
  padding: 0;
  margin: 0
}
#loginContent {
  margin: 0 auto;
  padding-top: 20px
}
#loginContent #loginHeadline {
  margin: 0;
  line-height: 35px
}
#loginContent #loginForm div {
  margin: 5px 0
}
#loginContent #loginRegisteredUsers {
  padding-top: 5px
}
#loginContent #copyright {
  margin: 20px 0 0;
  text-align: right
}
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: .625em;
  -moz-border-radius: .625em;
  border-radius: .625em;
  background: rgba(255,255,255,.1)
}
#content #chatList,
#content #helpContainer,
#content #inputFieldContainer #inputField,
#content #onlineListContainer,
#content #settingsContainer {
  background-color: rgba(0,0,0,.2)
}
#content #copyright {
  position: absolute;
  right: 20px;
  top: 20px
}
#content #headline {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 0 0 20px;
  line-height: 45px;
  margin: 0
}
#content #logoutChannelContainer {
  position: absolute;
  z-index: 2;
  left: 5px;
  top: 10px
}
#content #logoutChannelContainer select {
  width: 105px;
  height: 22px
}
#content #statusIconContainer {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 22px;
  height: 22px
}
#content #chatList {
  height: 100%;
  overflow: auto
}
#content #mainPanelContainer {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 45px;
  bottom: 120px
}
#content #helpContainer,
#content #onlineListContainer,
#content #settingsContainer {
  float: right;
  height: 100%;
  overflow: auto;
  margin-left: 5px;
  position: relative
}
#content #helpContainer h3,
#content #onlineListContainer h3,
#content #settingsContainer h3 {
  line-height: 25px;
  padding: 0 10px;
  margin: 0;
  text-align: center
}
#content #onlineListContainer {
  width: 200px
}
#content #helpContainer,
#content #settingsContainer {
  width: 360px
}
#content #helpContainer #helpList,
#content #onlineListContainer #onlineList,
#content #settingsContainer #settingsList {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  bottom: 0;
  overflow: auto
}
#content #helpContainer #helpList dl,
#content #settingsContainer #settingsList dl {
  overflow: hidden;
  padding: 5px;
  margin: 0
}
#content #helpContainer #helpList dt,
#content #settingsContainer #settingsList dt {
  float: left;
  width: 55%;
  padding: 0 2% 0 0;
  margin: 0;
  clear: left
}
#content #helpContainer #helpList dd,
#content #settingsContainer #settingsList dd {
  width: 43%;
  float: left;
  margin: 0;
  padding: 0
}
#content #inputFieldContainer {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 65px;
  padding: 0
}
#content #inputFieldContainer #inputField {
  width: 100%;
  height: 30px
}
#content #submitButtonContainer {
  position: absolute;
  right: 5px;
  bottom: 35px
}
#content #bbCodeContainer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  padding: 3px
}
#content #bbCodeContainer input {
  display: block;
  float: left;
  margin-right: 2px;
  color: #1d1d1d
}
#content #bbCodeContainer #bbCodeEmoticon {
  display: none
}
#content #colorCodesContainer,
#content #emoticonsContainer {
  position: absolute;
  left: 5px;
  bottom: 30px;
  padding: 3px;
  z-index: 1
}
#content #colorCodesContainer {
  background-color: rgba(0,0,0,.9);
  bottom: 40px;
  padding: 10px;
  -webkit-border-radius: .625em;
  -moz-border-radius: .625em;
  border-radius: .625em
}
#content #emoticonsContainer a {
  margin-left: 1px;
  margin-right: 1px;
  z-index: 1
}
#content #chatList img,
#content #emoticonsContainer img {
  vertical-align: middle;
  margin-bottom: 2px
}
#content #colorCodesContainer a {
  display: block;
  float: left;
  width: 20px;
  height: 20px
}
#content #optionsContainer {
  position: absolute;
  right: 5px;
  bottom: 5px
}
#content #bbCodeContainer input,
#content #logoutButton,
#content #submitButton,
#loginContent #loginButton {
  padding: 4px 10px
}
#content #logoutButton {
  display: block;
  float: left;
  margin: 0 5px 5px 0
}
#content #chatList div {
  padding: 2px 5px
}
#content #chatList cite {
  margin-right: 5px
}
#content #chatList .bbCodeImage {
  vertical-align: top;
  overflow: auto;
  margin: 5px
}
#content #chatList .delete {
  display: block;
  float: right;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  padding-left: 5px;
  background: url(../../images/delete.png) right no-repeat
}
#content #onlineListContainer #onlineList div {
  padding: 2px 5px;
  margin: 0 1px 1px;
  background: 0 0
}
#content #onlineListContainer #onlineList a {
  display: block
}
#content #onlineListContainer #onlineList ul {
  margin: 1px 0 5px;
  padding-left: 20px;
  list-style: none
}
#content #settingsContainer #settingsList select.left {
  text-align: right
}
#content #optionsContainer input,
#content #settingsContainer #settingsList input.button,
#content #showChannelsButton {
  background: url(../../images/buttons-sprite.png) no-repeat;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  padding: 0
}
#content #optionsContainer #helpButton {
  background-position: -69px -22px
}
#content #optionsContainer #settingsButton {
  background-position: -92px 0
}
#content #optionsContainer #onlineListButton {
  background-position: -69px 0
}
#content #optionsContainer #audioButton {
  background-position: 0 0
}
#content #optionsContainer #audioButton.off {
  background-position: 0 -22px
}
#content #optionsContainer #autoScrollButton {
  background-position: -23px 0
}
#content #optionsContainer #autoScrollButton.off {
  background-position: -23px -22px
}
#content #settingsContainer #settingsList input.playback {
  background-position: -92px -22px;
  margin-bottom: 3px
}
#content #logoutChannelContainer #showChannelsButton {
  background-position: -46px 0;
  display: none
}
#content #logoutChannelContainer #showChannelsButton.off {
  background-position: -46px -22px
}
#content img {
  border: none
}
#content #chatList,
#content #colorCodesContainer a,
#content #helpContainer,
#content #onlineListContainer,
#content #settingsContainer,
#content textarea {
  border: 1px solid
}
#content #chatList .deleteSelected {
  border: 1px dotted red
}
#content #bbCodeContainer input,
#content #logoutButton,
#content #optionsContainer input.button,
#content #settingsContainer #settingsList input.button,
#content #submitButton,
#loginContent #loginButton {
  cursor: pointer
}
@media (max-width:700px) {
  #mainPanelContainer #helpContainer,
  #mainPanelContainer #onlineListContainer,
  #mainPanelContainer #settingsContainer {
    background-color: rgba(0,0,0,.9);
    z-index: 5
  }
  #content #mainPanelContainer {
    top: 35px;
    left: 5px;
    right: 5px;
    bottom: 105px;
    background-color: rgba(0,0,0,.1)
  }
  #content #headline {
    margin: 0;
    padding: 0 0 0 5px;
    line-height: 25px
  }
  #content #statusIconContainer {
    top: 2px;
    right: 2px
  }
  #content #copyright {
    top: 0;
    right: 30px;
    line-height: 25px
  }
  #content #logoutChannelContainer {
    top: 5px;
    left: 5px;
    right: 0
  }
  #content #bbCodeContainer #bbCodeCode,
  #content #bbCodeContainer #bbCodeQuote,
  #content #emoticonsContainer,
  #content #logoutChannelContainer label,
  #content #submitButtonContainer {
    display: none
  }
  #content #bbCodeContainer {
    bottom: 30px;
    left: 3px;
    padding: 0
  }
  #content #bbCodeContainer #bbCodeEmoticon {
    display: block
  }
  #content #optionsContainer {
    bottom: 0;
    right: 0
  }
  #content #chatList {
    left: 5px;
    right: 150px;
    bottom: 115px;
    font-size: 12px
  }
  #content #inputFieldContainer #inputField {
    height: 20px
  }
  #content #inputFieldContainer {
    left: 3px;
    right: 3px;
    bottom: 60px
  }
  #content #colorCodesContainer,
  #content #emoticonsContainer {
    bottom: 55px;
    left: 5px
  }
  #content #helpContainer,
  #content #onlineListContainer,
  #content #settingsContainer {
    margin-left: 0;
    border-left-width: 0;
    display: none
  }
}
@media (max-width:480px) {
  #content #logoutChannelContainer select {
    left: 40px;
    position: absolute;
    top: 0
  }
  #content #mainPanelContainer {
    top: 30px;
    left: 3px;
    right: 3px;
    bottom: 100px
  }
  #content #helpContainer,
  #content #onlineListContainer,
  #content #settingsContainer {
    border-right-width: 0;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
  }
  #content #chatList {
    border-left-width: 0;
    border-right-width: 0
  }
  #content #bbCodeContainer #bbCodeIMG,
  #content #bbCodeContainer #bbCodeURL {
    display: none
  }
  #content #bbCodeContainer {
    padding: 0
  }
  #content #emoticonsContainer {
    bottom: 80px;
    left: 5px
  }
  #content #logoutChannelInner {
    display: none;
    clear: left;
    padding: 5px;
    text-align: right
  }
  #content #logoutChannelContainer #showChannelsButton {
    display: block;
    position: absolute;
    left: 5px;
    top: 0
  }
}
@media (max-height:300px) {
  #content #inputFieldContainer #inputField {
    height: 20px
  }
  #content #bbCodeContainer,
  #content #emoticonsContainer,
  #content #logoutChannelContainer,
  #content #optionsContainer,
  #content #statusIconContainer,
  #content #submitButtonContainer {
    display: none
  }
  #content #inputFieldContainer {
    bottom: 5px
  }
  #content #mainPanelContainer {
    bottom: 40px;
    top: 35px
  }
}
#content h1,
#loginContent h1 {
  font-size: 1.3em;
  font-weight: 700
}
#content a,
#content a:hover,
#loginContent a,
#loginContent a:hover {
  text-decoration: none
}
#content,
#content #copyright,
#content h3,
#loginContent,
#loginContent #copyright {
  font-size: 1em
}
#content #chatList .action,
#content #chatList .chatBotErrorMessage,
#content #chatList .chatBotMessage,
#content #chatList .privmsg {
  font-style: italic
}
#content #chatList q {
  font-variant: small-caps
}
#content #chatList code {
  font-size: 1.2em
}
#content #helpContainer #helpList,
#content #onlineListContainer #onlineList div,
#content #settingsContainer #settingsList {
  font-size: 1em
}
#content #helpContainer #helpList dd {
  font-style: italic
}
@media print {
  #content {
    position: static;
    font-family: 'times new roman',times,serif;
    font-size: 1em;
    text-align: justify;
    color: #000
  }
  #content #bbCodeContainer,
  #content #chatList .delete,
  #content #colorCodesContainer,
  #content #copyright,
  #content #emoticonsContainer,
  #content #headline,
  #content #helpContainer,
  #content #inputFieldContainer,
  #content #logoutChannelContainer,
  #content #onlineListContainer,
  #content #optionsContainer,
  #content #settingsContainer,
  #content #statusIconContainer,
  #content #submitButtonContainer {
    display: none
  }
  #content #chatList {
    position: static;
    overflow: visible;
    border: none
  }
  #content #chatList div {
    padding-bottom: 5px
  }
  #content #chatList img {
    vertical-align: middle;
    margin-bottom: 2px
  }
  #content #chatList cite {
    margin-right: 5px
  }
  #content #chatList code {
    font-size: .8em
  }
  #content #chatList .chatBotErrorMessage {
    color: red
  }
  #content #chatList a {
    color: #1e90ff
  }
}
:root {
  --main-color: #0f0
}
.mentioned {
  color: #5eff00;
  text-shadow: 1px 1px #2c6609
}
.text-1 {
  font-family: Oswald,sans-serif
}
.text-2 {
  font-family: 'PT Sans Narrow',sans-serif
}
.text-3 {
  font-family: 'Nova Square',cursive
}
.text-4 {
  font-family: Lobster,cursive
}
.text-5 {
  font-family: 'Open Sans',sans-serif
}
.text-6 {
  font-family: 'Encode Sans Condensed',sans-serif
}
.text-7 {
  font-family: 'Baloo Bhaijaan',cursive
}
.text-8 {
  font-family: Acme,sans-serif
}
a {
  color: var(--main-color);
  text-decoration: none
}
a:hover {
  color: #005580;
  text-decoration: none
}
a,
input[type=button],
select {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out
}
.circle {
  list-style-type: circle;
  color: #c00
}
.disc {
  list-style-type: disc;
  color: #0f0
}
.user {
  color: #8e35ef
}
.power_user {
  color: #f9a200
}
.vip {
  color: #009f00
}
.uploader {
  color: #00f
}
.moderator {
  color: #fe2e2e
}
.administrator {
  color: #b000b0
}
.sysop {
  color: #61df00
}
#content .chatbot {
  color: #ff8b49
}
#content #chatList span.administrator,
#content #chatList span.moderator,
#content #chatList span.power_user,
#content #chatList span.sysop,
#content #chatList span.uploader,
#content #chatList span.user,
#content #chatList span.vip {
  font-weight: 700
}
#content #chatList span.chatbot {
  font-weight: 700;
  font-style: italic
}
.user_bk {
  background: #8e35ef
}
.power_user_bk {
  background: #f9a200
}
.vip_bk {
  background: #009f00
}
.uploader_bk {
  background: #00f
}
.moderator_bk {
  background: #fe2e2e
}
.administrator_bk {
  background: #b000b0
}
.sysop_bk {
  background: #61df00
}
html {
  height: 100%
}
#content #chatList,
#content #helpContainer,
#content #helpContainer h3,
#content #inputFieldContainer,
#content #onlineListContainer,
#content #onlineListContainer h3,
#content #settingsContainer,
#content #settingsContainer h3,
#loginContent input,
input,
select,
textarea {
  -webkit-border-radius: .3125em;
  -moz-border-radius: .3125em;
  border-radius: .3125em;
  border: 0
}
#content #inputFieldContainer #inputField {
  border: 0;
  padding: 8px 12px;
  width: calc(100% - 24px)
}
#content #inputFieldContainer #inputField:focus {
  outline: 0
}
#loginContent #loginButton {
  -webkit-border-radius: .1875em;
  -moz-border-radius: .1875em;
  border-radius: .18755em
}
#loginContent #errorContainer {
  color: red
}
#errorContainer {
  font-size: 2em;
  text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000
}
.ajax-chat {
  height: 100%;
  color: #fff
}
.ajax-chat h1,
.ajax-chat h3 {
  color: #e2e9db;
  text-shadow: 1px 1px 2px #191919
}
.ajax-chat input,
.ajax-chat select {
  padding: 3px
}
#loginContent input,
#loginContent select {
  background: #171717
}
#content textarea {
  color: #b0b8a8
}
#content #chatList,
#content #helpContainer,
#content #onlineListContainer,
#content #settingsContainer {
  border: 0
}
#content #chatList:after,
#content #chatList:before {
  content: '';
  display: block;
  position: absolute;
  -webkit-border-radius: .3125em;
  -moz-border-radius: .3125em;
  border-radius: .3125em
}
#content #chatList:before {
  top: 17px;
  left: 0;
  width: 0;
  height: 98%
}
#content #chatList:after {
  top: 0;
  left: 17px;
  width: 98%;
  height: 0
}
#content #helplist table,
#content #settingsList table {
  border-spacing: 0
}
#content #emoticonsContainer {
  -webkit-border-radius: .3125em;
  -moz-border-radius: .3125em;
  border-radius: .3125em
}
#content #bbCodeContainer {
  border: 0;
  padding-left: 0
}
#content #statusIconContainer {
  background: url(../../images/loading-sprite.png) no-repeat
}
#content #statusIconContainer.waiting {
  background-position: 0 -22px
}
#content #statusIconContainer.retrying {
  background-position: 0 -44px
}
.ajax-chat #content .popup#colorCodesContainer,
.ajax-chat .popup {
  border: 0;
  padding: 5px
}
#content #colorCodesContainer a {
  -webkit-border-radius: .625em;
  -moz-border-radius: .625em;
  border-radius: .625em;
  margin: 5px;
  border: 0
}
#content #optionsContainer input.button {
  border: 0;
  padding: 0;
  margin-right: 5px
}
#content #optionsContainer input {
  background-color: transparent
}
#content .rowEven,
#helpList dl:nth-child(even),
#settingsList dl:nth-child(even) {
  background-color: rgba(0,0,0,.3);
  border: 1px solid rgba(255,255,255,.1)
}
#content .rowOdd,
#helpList dl:nth-child(odd),
#settingsList dl:nth-child(odd) {
  border: 1px solid transparent
}
#content .rowEven:hover,
#content .rowOdd:hover,
#helpList dl:nth-child(even):hover,
#helpList dl:nth-child(odd):hover,
#settingsList dl:nth-child(even):hover,
#settingsList dl:nth-child(odd):hover {
  border: 1px solid rgba(255,255,255,.1);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out
}
#content #chatList .rowEven.private,
#content #chatList .rowOdd.private {
  background: linear-gradient(to bottom,#1c5417,#05410e) #0c3a00
}
#content #chatList .chatBotErrorMessage {
  color: red
}
#content #chatList span.dateTime {
  font-family: "Lucida Console",Monaco,monospace;
  font-size: .7em
}
#content #chatList div.monospace {
  font-family: "Lucida Console",Monaco,monospace;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  white-space: pre-wrap
}
input[type=button] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2.25em;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: .125em;
  -moz-border-radius: .125em;
  border-radius: .125em;
  font-size: .75rem
}
input[type=button]:hover {
  border-color: #b5b5b5
}
input[type=button]:active {
  outline: 0;
  border-color: #4a4a4a
}
.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 .5em rgba(0,0,0,.1);
  -webkit-border-radius: .3125em;
  -moz-border-radius: .3125em;
  border-radius: .3125em;
  background-color: rgba(0,0,0,.1)
}
::-webkit-scrollbar {
  width: 1em;
  background-color: rgba(255,255,255,.1)
}
::-webkit-scrollbar-thumb:horizontal {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  -webkit-border-radius: .3125em;
  -moz-border-radius: .3125em;
  border-radius: .3125em;
  background: -webkit-linear-gradient(180deg,rgba(0,0,0,1) 0,rgba(0,0,0,1) 25%,transparent 100%,rgba(0,0,0,1) 75%,transparent) rgba(0,0,0,.1)
}
::-webkit-scrollbar-thumb:vertical {
  border-left: 1px solid red;
  border-right: 1px solid red;
  -webkit-border-radius: .625em;
  -moz-border-radius: .625em;
  border-radius: .625em;
  background: -webkit-linear-gradient(90deg,rgba(0,0,0,1) 0,rgba(0,0,0,1) 25%,transparent 100%,rgba(0,0,0,1) 75%,transparent) rgba(0,0,0,.1)
}