
#loginContent {
    font-size: 1em;
}

#loginContent h1 {
    font-size: 1.3em;
    font-weight: bold;
}

#loginContent a {
    text-decoration: none;
}

#loginContent a:hover {
    text-decoration: none;
}

#loginContent {
    font-size: 1em;
}

#loginContent #copyright {
    font-size: 1em;
}

#content {
    font-size: 1em;
}

#content h1 {
    font-size: 1.3em;
    font-weight: bold;
}

#content h3 {
    font-size: 1.0em;
}

#content a {
    text-decoration: none;
}

#content a:hover {
    text-decoration: none;
}

#content #copyright {
    font-size: 1em;
}

#content #chatList span.dateTime {
    font-size: .85em;
}

#content #chatList .chatBotMessage {
    font-style: italic;
}

#content #chatList .chatBotErrorMessage {
    font-style: italic;
}

#content #chatList .privmsg {
    font-style: italic;
}

#content #chatList .action {
    font-style: italic;
}

#content #chatList q {
    -webkit-font-feature-settings: "c2sc";
    font-feature-settings: "c2sc";
    font-variant: small-caps;
}

#content #chatList code {
    font-size: 1.2em;
}

#content #onlineListContainer #onlineList div {
    font-size: 1em;
}

#content #helpContainer #helpList, #content #settingsContainer #settingsList {
    font-size: 1em;
}

#content #helpContainer #helpList dd {
    font-style: italic;
}
