/*
 * @package AJAX_Chat
 * @author Sebastian Tschan
 * @author Philip Nicolcev
 *
 * Color palette inspired by PunBB style "Mercury":
 * http://punbb.org/
 */
@import url('global.css');
@import url('fonts.css');
@import url('print.css');
@import url('custom.css');
@import url('classcolors.css');

/* Buttons */
#content input, #content select, #content textarea {
    border: 0;
}

#content textarea {
    border-color: #383838;
}

#content input {
    border-radius: 5px;
}

/* Status Icon */
#content #statusIconContainer {
    background: url('../../images/loading-sprite.png') no-repeat 0 0;
}

#content #statusIconContainer.waiting {
    background-position: 0 -22px;
}

#content #statusIconContainer.retrying {
    background-position: 0 -44px;
}

/* Other Theme Elements */
.ajax-chat {
    background-color: #2a2a2a;
    color: #d4d4d4;
}

.ajax-chat h1 {
    color: #d4d4d4;
}

.ajax-chat a {
    color: #f6b620;
}

#loginContent input, #loginContent select {
    background-color: #424242;
    border-color: #565656;
    color: #d4d4d4;
}

#loginContent #loginButton {
    background-color: #424242;
    color: #d4d4d4;
    border-radius: 3px;
}

#loginContent #errorContainer {
    color: red;
}

#content input, #content select, #content textarea {
    background-color: #383838;
    color: #d4d4d4;
}

#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer {
    border: 0;
    background-color: #383838;
}

.ajax-chat .popup {
    padding: 5px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 3px;
    background-color: #424242;
    border: 1px solid #333;
}

#content #colorCodesContainer a {
    border-color: black;
}

#content #onlineListContainer {
    background: #383838;
}

#content #onlineListContainer #onlineList div {
    margin: 0 1px 1px 1px;
    border-radius: 5px;
    background: #404040;
}

#content #onlineListContainer #onlineList ul {
    margin-top: 1px;
    list-style: none;
}

#content #bbCodeContainer {
    border: 0;
    padding-left: 0;
}

#content #bbCodeContainer input, #content #logoutButton, #content #submitButton {
    background-color: #383838;
    color: #d4d4d4;
}

#content #bbCodeContainer input:hover, #content #logoutButton:hover, #content #submitButton:hover {
    background-color: #565656;
}

#content #optionsContainer input.button {
    border: 0;
}

#content #optionsContainer input {
    background-color: transparent;
}

#content .rowEven, #helpList dl:nth-child(even), #settingsList dl:nth-child(even) {
    background-color: #505050;
}

#content .rowOdd, #helpList dl:nth-child(odd), #settingsList dl:nth-child(odd) {
    background-color: #484848;
}

#content #chatList .rowOdd.private {
    background-color: #101010;
}

#content #chatList .rowEven.private {
    background-color: #1f1f1f;
}

#content #chatList .chatBotErrorMessage {
    color: red;
}

#content #chatList a {
    color: #f6b620;
}

#content #chatList .deleteSelected {
    border-color: red;
}

#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
    color: #d4d4d4;
    height: 15px;
}
