div.global_icon {
    width: 63px; height: 29px;
    text-align: center; padding-top: 6px;
    background: -moz-linear-gradient(100% 100% 90deg, #9c9b9b, #cfcfcf);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9c9b9b), to(#cfcfcf));
    -moz-border-radius-topleft: 8px; -webkit-border-radius-topleft: 8px; border-top-left-radius: 8px;
    float: left; display:inline; border-color: #eae9e9;}
div.global_head {
    width: 884px; height: 35px; margin-right: 2px;
    text-align: left; color: #474747; font-size: 15px; font-weight: bolder;
    background: -moz-linear-gradient(100% 100% 90deg, #c1c0c0, #d9d8d8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c1c0c0), to(#d9d8d8));
    -moz-border-radius-topright: 8px; -webkit-border-radius-topright: 8px; border-top-right-radius: 8px;
    float:  right; display: block; line-height: 34px; border-color: #eae9e9;
    padding-left: 20px; }
div.global_text {
    width: 938px; text-align: center; color: #474747; background: #e1e0e0; margin-bottom: 20px; padding:15px;
    -moz-border-radius-bottomright: 8px; -webkit-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px; -webkit-border-radius-bottomleft: 8px; border-bottom-left-radius: 8px;}
div.t_browse{
      background:#6B8FAA;
     -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
     
     
    td.t-col {
     
      font-weight: bold;
      float: left;
      width: 189px;
      height: 455px;
      margin: 1em;
      color: #ffffff;
     background-color: #0055A4;
     -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 10px #E8E8E8;
     box-shadow: 0px 0px 10px #00284E;
     
      }
    div.tdown {background: #0055A4;}
    div.poster {background: #0055A4;}
    div.freeslot {background:#0055A4;}
    div.silver {background:#0055A4;}
    div.stickey{  background:#0055A4;}
    div.genre{background:#0055A4;color:#101010;}
    div.add{background:#0055A4;}
    div.size{background:#0055A4;}
    div.snatch{background:#0055A4;}
    div.downup{background:#0055A4;}
    div.upby{background:#0055A4;color:#101010;}
    div.edit{background:#0055A4;}
