.user {
  color: #8e35ef
}
.power_user {
  color: #f9a200
}
.vip {
  color: #009f00
}
.uploader {
  color: #00f
}
.moderator {
  color: #fe2e2e
}
.administrator {
  color: #b000b0
}
.sysop {
  color: #61df00
}
#content .chatbot {
  color: #ff8b49
}
#content #chatList span.administrator,
#content #chatList span.moderator,
#content #chatList span.power_user,
#content #chatList span.sysop,
#content #chatList span.uploader,
#content #chatList span.user,
#content #chatList span.vip {
  font-weight: 700
}
#content #chatList span.chatbot {
  font-weight: 700;
  font-style: italic
}
.user_bk {
  background: #8e35ef
}
.power_user_bk {
  background: #f9a200
}
.vip_bk {
  background: #009f00
}
.uploader_bk {
  background: #00f
}
.moderator_bk {
  background: #fe2e2e
}
.administrator_bk {
  background: #b000b0
}
.sysop_bk {
  background: #61df00
}