.coin-slider {
    overflow : hidden;
    zoom     : 1;
    position : relative
}

.coin-slider a {
    text-decoration : none;
    outline         : 0;
    border          : none
}

.cs-buttons {
    font-size : 0;
    padding   : 10px;
    float     : left
}

.cs-buttons a {
    margin-left : 5px;
    height      : 10px;
    width       : 10px;
    float       : left;
    border      : 1px solid #b8c4cf;
    color       : #b8c4cf;
    text-indent : -1000px
}

.cs-active {
    background-color : #b8c4cf;
    color            : #fff
}

.cs-title {
    width            : 545px;
    padding          : 10px;
    background-color : #000;
    color            : #fff
}

.cs-next,
.cs-prev {
    background-color : #000;
    color            : #fff;
    padding          : 0 10px
}
