html {
    background: 0 0;
    width:      100%;
    margin:     0;
    padding:    0;
    overflow:   auto;
}

body {
    font:                   90%/1.5 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
    line-height:            150%;
    margin:                 auto;
    padding:                0;
    height:                 100%;
    width:                  auto;
    min-height:             100vh;
    -webkit-font-smoothing: antialiased;
    background:             no-repeat center center fixed;
    scroll-behavior:        smooth;
    text-rendering:         optimizeSpeed;
}

::-webkit-scrollbar-track {
    box-shadow:       inset 0 0 .5em rgba(0, 0, 0, .1);
    border-radius:    .3125em;
    background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar {
    width:            .625em;
    height:           .625em;
    background-color: rgba(50, 50, 50, 1);
}

::-webkit-scrollbar-thumb:horizontal {
    border-top:    1px solid var(--main-bdr-color);
    border-bottom: 1px solid var(--main-bdr-color);
    border-radius: .3125em;
    background:    -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent) rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb:vertical {
    border-left:   1px solid var(--main-bdr-color);
    border-right:  1px solid var(--main-bdr-color);
    border-radius: var(--default-radius);
    background:    -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent) rgba(0, 0, 0, .1);
}

.page-wrapper {
    width:        var(--default-page-width);
    margin-left:  auto;
    margin-right: auto;
}

a {
    text-decoration: none !important;
}

.rating {
    unicode-bidi: bidi-override;
    direction:    rtl;
    text-shadow:  0 1px 0 #a2a2a2;
}

.rating > span {
    display:   inline-block;
    position:  relative;
    width:     15px;
    font-size: 15px;
    height:    15px;
}

.rating > span:hover ~ span:before,
.rating > span:hover:before {
    content:  "\2605";
    position: absolute;
    color:    #ff69b4;
}

.rated {
    color: #ff69b4;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color:        #fff;
    width:        95px;
    position:     relative;
    text-shadow:  0 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color:    #ff69b4;
    position: absolute;
    z-index:  1;
    display:  inline-flex;
    top:      0;
    left:     0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    display: inline-flex;
    z-index: 0;
}

.star-ratings-css-bottom > span,
.star-ratings-css-top > span {
    width:     20px;
    font-size: 20px;
    height:    20px;
}

.star-ratings-css-bottom > span:not(:last-child),
.star-ratings-css-top > span:not(:last-child) {
    padding-right: 5px;
}

.star-ratings-css,
.star-ratings-css-bottom,
.star-ratings-css-top {
    padding: 0;
    margin:  0;
}

.clear {
    clear: both;
}

.level-center ul {
    list-style: none;
}

.iframe,
iframe {
    padding:  0;
    margin:   0;
    overflow: auto;
}

.iframe {
    width:     1px;
    min-width: 100%;
    height:    600px;
}

select:invalid,
input:invalid {
    box-shadow: 0 0 5px 2px #00f;
}

.platform-menu {
    padding: 1px 10px;
}
.platform-wrapper > div > div {
    /*margin: 2px auto;*/
}

.user-buttons {
    transition:       all .5s ease-in-out;
    transition-delay: 250ms;
    opacity:          1;
}

.user-buttons.hidden {
    transition:       all .5s ease-in-out;
    transition-delay: 50ms;
    visibility:       hidden;
    opacity:          0;
    font-size:        1px;
}

.search > input {
    width:            10em;
    max-width:        calc(100% - 10px);
    border:           none;
    padding:          0 .5em;
    transition:       all .5s ease-in-out;
    transition-delay: 50ms;
}

.search > input:focus {
    width:            25em;
    max-width:        calc(100% - 10px);
    transition:       all .5s ease-in-out;
    transition-delay: 250ms;
    outline:          none;
}

.search > input::placeholder {
    text-align:       center;
    opacity:          1;
    transition:       all .5s ease-in-out;
    transition-delay: 50ms;
}

.search > input:focus::placeholder {
    opacity:          0;
    transition:       opacity .5s;
    transition-delay: 250ms;
}

.cooker_notify,
.show_in_navbar,
#mlike,
.pointer,
.trivia-pointer,
.accordion-toggle,
.icon,
label,
select {
    cursor: pointer;
}

.disc {
    list-style-type: disc;
}

.circle {
    list-style-type: circle;
}

.decimal {
    list-style-type: decimal;
}

.pre,
pre {
    tab-size:     4;
    overflow:     auto;
    margin-left:  auto !important;
    margin-right: auto !important;
}

.pre {
    display:      block;
    unicode-bidi: embed;
    white-space:  pre-wrap;
    font-family:  "Lucida Console", Monaco, monospace;
}

.noselect {
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color:       var(--default-text-color);
    font-weight: 400;
}

h1 {
    margin-bottom: .7em;
    line-height:   2.2em;
}

h2 {
    margin-bottom: .6em;
    line-height:   1.65em;
}

h3 {
    margin-bottom: .5em;
    line-height:   1.65em;
}

h4 {
    margin-bottom: .4em;
    line-height:   1.1em;
}

h5 {
    margin-bottom: .3em;
    line-height:   .88em;
}

h6 {
    margin-bottom: .2em;
    line-height:   .6875em;
}

p {
    line-height:      1.25em;
    text-align:       justify;
    text-justify:     kashida;
    -ms-text-justify: kashida;
}

.site-debug {
    padding: 1.25em;
}

.size_1 {
    font-size: .51em;
}

.size_2,
h6 {
    font-size: .67em;
}

.size_3,
h5 {
    font-size: .83em;
}

.size_4,
h4 {
    font-size: 1em;
}

.size_5,
h3 {
    font-size: 1.17em;
}

.size_6,
h2 {
    font-size: 1.5em;
}

.size_7,
h1 {
    font-size: 2em;
}

span {
    word-break: normal;
}

span.is-wrapped {
    word-break: break-word;
}

#base_content {
    border-radius: var(--default-radius);
    padding:       1.25em;
}

#logo h1 {
    text-transform: uppercase;
    display:        inline;
    font-size:      3.3125em;
}

#logo .description {
    font-size:  1.25em;
    font-style: italic;
    color:      #c00;
    margin-top: 5px;
}

.sticky {
    text-shadow: -1px 0 var(--main-bdr-color), 0 1px var(--main-bdr-color), 1px 0 var(--main-bdr-color), 0 -1px var(--main-bdr-color);
}

.text-shadow {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.no-shadow {
    text-shadow: none;
}

.icon {
    width:     auto;
    height:    16px;
    padding:   0;
    font-size: 16px !important;
}

.emoticon {
    height:    20px;
    width:     auto;
    min-width: 20px;
    padding:   0;
    font-size: 20px !important;
}

.emoticon.is-2x {
    height: 40px;
}

.icon + .icon {
    margin-right: .3125em;
}

.spacer {
    width:      var(--default-page-width);
    height:     40px;
    background: 0 0;
}

.accordion-toggle {
    background:    #fff;
    font-weight:   700;
    padding-left:  1em;
    line-height:   2em;
    margin-bottom: 1px;
}

.accordion-content ul li {
    line-height: 1.75em;
}

.accordion-content.default {
    display: block;
}

.button:not(.tag) {
    border:     1px solid #d7dada;
    background: linear-gradient(135deg, #f4f5f5 0%, #dfdddd 100%);
    color:      #000;
}

.button:not(.tag):hover {
    background: linear-gradient(135deg, #dfdddd 0%, #f4f5f5 100%);
    transition: all .25s ease-in-out;
    color:      #000;
}

.button.tag {
    border:     1px solid #fff;
    width:      150px;
    transition: all .5s ease-in-out;
}

.button.tag:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .25s ease-in-out;
}

.rowhead {
    width:     125px;
    min-width: 125px;
}

.simple_border {
    border: 1px solid #000;
}

.bg-none {
    background-color: transparent;
}

.bg-dark {
    background-color: #000;
}

.bg-light {
    background-color: #f5f5f5;
}

.bg-00 {
    background-color: rgba(255, 255, 255, .1);
}

.bg-01 {
    background-color: rgba(255, 255, 255, .2);
}

.bg-02 {
    background-color: rgba(0, 0, 0, .1);
}

.bg-03 {
    background-color: rgba(0, 0, 0, .2);
}

.bg-04 {
    background-color: rgba(0, 0, 0, .4);
}

.bg-05 {
    background-color: rgba(50, 50, 50, .85);
}

.bg-06 {
    background: #7d7e7d;
    background: linear-gradient(to bottom, #7d7e7d 0, #0e0e0e 100%);
}

.bg-07 {
    background-color: rgba(75, 75, 125, .65);
}

.bg-08 {
    background-color: rgba(255, 228, 181, .5);
}

.bg-09 {
    background-color: rgba(0, 0, 0, .6);
}

.bordered {
    border-radius:        var(--default-radius);
    padding:              var(--default-padding);
    border-top:           2px solid var(--main-bdr-color);
    border-bottom:        2px solid var(--main-bdr-color);
    -webkit-margin-start: var(--default-margin);
    -moz-margin-start:    var(--default-margin);
    -webkit-margin-end:   var(--default-margin);
}

.alt_bordered {
    border-left:   1px solid var(--main-bdr-color);
    border-right:  1px solid var(--main-bdr-color);
    border-radius: var(--default-radius);
}

.bottom5 {
    margin-bottom: .3125em;
}

.bottom10 {
    margin-bottom: var(--default-radius);
}

.bottom20 {
    margin-bottom: 1.25em;
}

.cloud {
    width:       100%;
    min-height:  70px;
    line-height: 2.1875em;
    text-shadow: -1px 0 var(--main-bdr-color), 0 1px var(--main-bdr-color), 1px 0 var(--main-bdr-color), 0 -1px var(--main-bdr-color);
}

.torrent-box {
    max-width: calc(100% - 75px);
}

.torrent-name {
    display:       inline-block;
    max-width:     100%;
    overflow-wrap: break-word;
    text-align:    left;
}

.inner-wrapper {
    padding:       1.25em;
    border-radius: var(--default-radius);
}

.content-wrapper {
    border-radius: var(--default-radius);
}

input,
select,
textarea {
    color:            #000;
    background-color: #fff;
    border:           1px solid var(--main-bdr-color);
    padding:          5px;
    border-radius:    .3125em;
}

textarea {
    overflow: auto;
}

.img-polaroid {
    padding:          4px;
    background-color: transparent;
    border:           1px solid rgba(0, 0, 0, 1);
    box-shadow:       2px 2px 5px rgba(0, 0, 0, .5);
    display:          inline-block;
    width:            100%;
    height:           auto;
    border-radius:    var(--default-radius);
}

.img-polaroid img {
    width:  100%;
    height: auto;
}

.img-responsive {
    max-width:     100%;
    height:        auto;
    border-radius: var(--default-radius);
}

.img-torrent {
    width:         100px;
    height:        auto;
    border-radius: 5px;
}

.portlet.is-fluid {
    margin-left:  0 !important;
    margin-right: 0 !important;
}

.has-text-centered {
    margin-left:  auto;
    margin-right: auto;
}

.left5 {
    margin-left: .3125em;
}

.left10 {
    margin-left: var(--default-radius);
}

.left20 {
    margin-left: 1.25em;
}

.left50 {
    margin-left: 3.125em;
}

.level-center {
    align-items:     center;
    justify-content: space-around;
    flex-wrap:       wrap;
}

.comments,
.flex-grid,
.level-left,
.level-right,
.level-center,
.level-center-center,
.level-wide {
    display:       flex;
    margin-bottom: 0 !important;
}

.level-right li:not(:first-child) {
    margin-left: 5px;
}

.level-left li:not(:last-child) {
    margin-right: 5px;
}

.level-center-center {
    align-items:     center;
    justify-content: center;
}

.level-wide {
    justify-content: space-between;
    flex-wrap:       wrap;
}

.module {
    position: relative;
}

.badge,
.module .badge {
    z-index:  1;
    position: absolute;
}

.badge-free,
.badge-hot,
.badge-new,
.badge-top {
    margin-right: -2px;
    margin-top:   -2px;
}

.module .badge {
    right: 2px;
    top:   0;
}

.badge-hot,
.module .badge-hot {
    background-position: 0 0;
}

.badge-top,
.module .badge-top {
    background-position: 0 -50px;
}

.badge-free,
.module .badge-free {
    background-position: 0 -100px;
}

.badge-new,
.module .badge-new {
    background-position: 0 -150px;
}

.badge {
    background-image: url(./images/module_badges.png);
    top:              -5px;
    left:             -5px;
    width:            50px;
    height:           50px;
    transform:        rotate(270deg);
}

.box {
    text-align: justify;
}

.hide {
    opacity: 0;
}

#IE_ALERT,
#autocomplete,
.accordion-content,
.back-to-top,
.is_hidden,
.navbar-menu.box,
.slideThree [type=checkbox] {
    display: none;
}

.notification-wrapper {
    position: fixed;
    top:      0;
    z-index:  99999;
    left:     var(--default-page-width-width);
    right:    var(--default-page-width-width);
}

.notification {
    border-radius: .3125em;
}

.notification:not(:last-child) {
    margin-bottom: 5px !important;
}

.notification.is-info,
.notification.is-link {
    color: #ff3860 !important;
}

.has-no-border {
    border: none !important;
}

.table > thead > tr > th.has-no-border-right,
.table > tbody > tr > td.has-no-border-right {
    border-right: none;
}

.table > thead > tr > th.has-no-border-left,
.table > tbody > tr > td.has-no-border-left {
    border-left: none;
}

.has-no-wrap {
    white-space: nowrap;
}

.margin10 {
    margin: var(--default-radius);
}

.margin20 {
    margin: 1.25em;
}

.padding5 {
    padding: .3125em;
}

.padding10 {
    padding: var(--default-radius);
}

.padding20 {
    padding: 1.25em;
}

.padtop10 {
    padding-top: var(--default-radius);
}

.padright5 {
    padding-right: .3125em;
}

.platform-wrapper {
    height:    25px;
    font-size: 1.25em;
}

.portlet {
    background-color: rgba(255, 255, 255, .1);
    border-radius:    var(--default-radius);
    overflow:         hidden;
}

.portlet:not(:last-child) {
    margin-bottom: 1.25em;
}

.right5 {
    margin-right: .3125em;
}

.right10 {
    margin-right: var(--default-radius);
}

.right20 {
    margin-right: 1.25em;
}

.round5-top {
    border-top-left-radius:  .3125em;
    border-top-right-radius: .3125em;
}

.round5-bottom {
    border-bottom-left-radius:  .3125em;
    border-bottom-right-radius: .3125em;
}

.round5 {
    border-radius: .3125em;
}

.round10 {
    border-radius: var(--default-radius);
}

.text-justify {
    text-align:   justify;
    text-justify: kashida;
}

.tooltipper {
    list-style: none;
}

.tooltip-template {
    border-radius: var(--default-radius);
}

.tooltip-poster {
    width:         250px;
    height:        auto;
    border-radius: var(--default-radius);
}

.tooltip-background {
    background-size: cover;
    background:      no-repeat center center;
}

.tooltip {
    border:        1px solid #fff;
    padding:       5px;
    margin:        5px;
    border-radius: var(--default-radius);
    background:    rgba(255, 255, 255, .1);
}

.top5 {
    margin-top: .3125em;
}

.top10 {
    margin-top: var(--default-radius);
}

.top20 {
    margin-top: 1.25em;
}

.back-to-top {
    text-decoration:  none;
    color:            rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .4);
    position:         fixed;
    bottom:           var(--default-radius);
    right:            var(--default-radius);
    font-size:        .875em;
    padding:          .3125em;
    border-radius:    .3125em;
    border:           1px solid rgba(50, 50, 50, .85);
    z-index:          2;
}

.back-to-top:hover {
    background-color: rgba(0, 0, 0, .8);
    color:            var(--default-text-color);
    border:           1px solid var(--main-bdr-color);
}

.slideThree {
    position:      relative;
    width:         80px;
    height:        26px;
    background:    #333;
    margin:        1.25em auto;
    border-radius: 50px;
    box-shadow:    inset 0 1px 1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .2);
}

.slideThree::after,
.slideThree::before {
    font:     700 12px/26px sans-serif;
    z-index:  0;
    position: absolute;
}

.slideThree label {
    transition:     all .5s ease-in-out;
    display:        block;
    width:          34px;
    height:         20px;
    border-radius:  50px;
    position:       absolute;
    top:            3px;
    left:           3px;
    z-index:        1;
    box-shadow:     0 2px 5px 0 rgba(0, 0, 0, .3);
    background:     #fcfff4;
    background:     linear-gradient(to bottom, #fcfff4 0, #dfe5d7 40%, #b3bead 100%);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.slideThree::after {
    content:     'OFF';
    color:       #c00;
    right:       10px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
}

.slideThree::before {
    content:     'ON';
    margin-left: 5px;
    color:       #0f0;
    left:        10px;
}

.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}

:checked + div {
    display: block !important;
}

.mw-150 {
    max-width: 150px !important;
}

.mw-50 {
    max-width: 50%;
}

.min-50 {
    min-width: 50px !important;
}

.min-100 {
    min-width: 100px !important;
}

.min-150 {
    min-width: 150px !important;
}

.min-250 {
    min-width: 250px !important;
}

.min-350 {
    min-width: 350px !important;
}

.min-600 {
    min-width: 600px !important;
}

.w-1 {
    width: 1%;
    flex:  none;
}

.w-5 {
    width: 5%;
    flex:  none;
}

.w-10 {
    width: 10%;
    flex:  none;
}

.w-15 {
    width: 15%;
    flex:  none;
}

.w-20 {
    width: 20%;
    flex:  none;
}

.w-25 {
    width: 25%;
    flex:  none;
}

.w-30 {
    width: 30%;
    flex:  none;
}

.w-33 {
    width: 33%;
    flex:  none;
}

.w-40 {
    width: 40%;
    flex:  none;
}

.w-50,
.ww-50 {
    width: 50%;
    flex:  none;
}

.w-75 {
    width: 75%;
    flex:  none;
}

.w-100 {
    width: 100%;
    flex:  none;
}

.h-100 {
    height:     100%;
    min-height: 250px;
}

.tabs {
    border-radius: .3125em;
    flex-wrap:     wrap;
}

.tabs a {
    color:         var(--default-text-color);
    border-radius: .3125em;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
}

.tabs a.active,
.tabs a:active,
.tabs a:focus {
    color:            #222;
    background-color: rgba(255, 255, 255, .5);
    border-radius:    .3125em;
}

.tabs a:hover {
    color:            #000;
    background-color: rgba(255, 255, 255, .9);
    border-radius:    .3125em;
}

.tabs ul {
    border: none;
}

.tabs li.is-active a {
    border: none;
}

.tabcontent.active {
    overflow: hidden;
}

p + p {
    margin-bottom: .85em;
    margin-top:    .85em;
}

.is-wrapped {
    flex-wrap: wrap;
    display:   flex;
}

.cast > img {
    width:  auto;
    height: 110px;
}

#body-overlay {
    width:           100%;
    background-size: cover;
    min-height:      100vh;
}

option.head {
    font-size:   1.25em;
    font-weight: bold;
    color:       black;
}

.flex-vertical {
    flex-direction: column;
}

.responsive-container {
    position:       relative;
    padding-bottom: 53.25%;
    padding-top:    40px;
    height:         0;
    overflow:       hidden;
}

.responsive-container,
.responsive-container iframe {
    max-width:     1920px;
    max-height:    1080px;
    border-radius: 10px;
}

.responsive-container iframe {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;
}

.comments {
    justify-content: space-between;
}

.comments-left {
    width: 20vh;
}

.comments-right {
    width: 80vh;
}

.avatar {
    width:  100%;
    height: auto;
}

#base_contents_video {
    height:      0;
    padding-top: 18.5%;
    width:       100%;
    background:  rgb(40, 40, 40);
    background:  rgba(40, 40, 40, .5);
}

.base_header_video {
    width:      calc(100% + 1px);
    height:     0;
    z-index:    1;
    margin-top: -18.5%;
}

.object-fit-video {
    object-fit: fill;
    width:      100% !important;
    background: transparent;
}

.noshow,
.slider,
.object-fit-video {
    visibility: hidden;
}

.table-wrapper.w-50.right20,
.table-wrapper.w-50.left20 {
    width: calc(50% - 1.25em);
}

.bottom {
    display:    inline-block;
    align-self: flex-end;
}

.middle {
    height:      21px;
    line-height: 21px;
    margin-top: 1px;
}

.droppable {
    color:         var(--default-text-color);
    padding:       50px 0;
    border:        1px dashed var(--main-bdr-color);
    border-radius: var(--default-radius);
}

.droppable.dragover {
    background: #737dff;
}

.rotate {
    transition: all .5s ease;
    transform:  rotate(0deg);
    display:    inline-block;
}

.rotate-hover {
    transform: rotate(180deg);
}

.limited.background-16 {
    background:      radial-gradient(black 15%, transparent 16%) 8px 8px 0 1px 8px 9px #282828;
    background-size: 16px 16px;
}

.bullet {
    list-style-type: circle;
}

.error {
    color: #ff3860;
}

body.background-16 {
    background:            radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color:      #282828;
    background-size:       16px 16px;
    background-attachment: fixed;
}

.autofill {
    max-height: 500px;
    overflow:   auto;
}

.signature img {
    max-height: 75px;
    width:      auto;
}

.anonymous {
    background:    rgba(63, 63, 63, .5);
    border-radius: .3125em;
}

.anonymous img {
    padding: 20px 0;
}

.code {
    tab-size:         4;
    white-space:      pre-wrap;
    font-family:      "Lucida Console", Monaco, monospace;
    font-size:        .9em !important;
    line-height:      1.1em;
    border:           1px solid var(--main-bdr-color);
    background-color: rgba(0, 0, 0, .1);
    box-shadow:       10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius:    var(--default-radius);
    padding:          1.25em;
    margin:           10px 0 10px 0;
}

.cat-image {
    max-width: 125px;
}

.caticon {
    width:  50px;
    height: 50px;
}

.quote {
    border:           1px solid var(--default-text-color);
    padding:          1.25em;
    background-color: rgba(0, 0, 0, .1);
    border-radius:    var(--default-radius);
    box-shadow:       10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

img.bar {
    height: 11px;
}

.masonry {
    display:               grid;
    grid-gap:              1em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items:         center;
}

.masonry-small {
    display:               grid;
    grid-gap:              1em;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.masonry-item,
.masonry-item img {
    position:      relative;
    border-radius: var(--default-radius);
}

.masonry-item-clean,
.masonry-item,
.trivia-pointer {
    background-color: rgba(0, 0, 0, 0.4);
    padding:          var(--default-radius);
    z-index:          1;
    transition:       all .5s ease-in-out;
}

.masonry-item:hover,
.trivia-pointer:hover {
    transform:        scale(1.1);
    z-index:          10;
    background-color: rgba(0, 0, 0, 0.6);
    transition:       all .5s ease-in-out;
}

.vertical_spread {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical_center {
    transform: translate(0, 50%);
}

ul li ul li {
    margin-left: var(--default-radius);
}

.flex-grid {
    justify-content: space-between;
    flex-wrap:       wrap;
}

.flex-grid .col {
    width: calc(50% - var(--default-radius));
}

.flex-grid .col:nth-child(2) {
    margin-bottom: 1.25em;
}

.readmore {
    overflow:           hidden;
    display:            -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.slides {
    margin-bottom: -2px;
    margin-top:    2px;
}

.marquee:hover span {
    animation-play-state: paused;
}

.marquee {
    overflow:      hidden;
    position:      relative;
    background:    rgba(0, 0, 0, .2);
    border:        1px solid var(--main-bdr-color);
    height:        35px;
    border-radius: .3125em;
}

.marquee span {
    position:    absolute;
    min-width:   500px;
    width:       auto;
    height:      100%;
    line-height: 35px;
    font-size:   1.25em;
    margin:      0;
    text-align:  center;
    white-space: nowrap;
    transform:   translateX(100%);
    animation:   marquee 15s linear infinite;
}

.select_me {
    display: none;
}

.pagination-link.is-current {
    color: #000;
}

.pagination-link:hover {
    color:       var(--main-bdr-color);
    font-weight: bold;
}

#simple.hidden,
#simple.hidden *,
#advanced.hidden,
#advanced.hidden * {
    height:     0;
    opacity:    0;
    transition: all .25s ease;
    position:   absolute;
    z-index:    -100;
}

#simple,
#advanced {
    opacity:    1;
    transition: all .5s ease;
    position:   relative;
}

.fontello-fonts {
    font-family: 'fontello';
    font-weight: normal;
    font-style:  normal;
}

.column.no-pad {
    padding: 0 !important;
}

.line-border {
    border: 1px solid white;
}

.details-button {
    width: 150px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.responsive-icon {
    font-size: 48px;
}

@media (max-width: 1087px) {
    #parallax {
        display:   flex;
        flex-flow: column;
    }

    #parallax > .fl-1 {
        order: 1;
        width: 100%;
    }

    #parallax > .fl-2 {
        order: 2;
        width: 100%;
    }

    #parallax > .fl-3 {
        order: 3;
        width: 100%;
    }

    .responsive-icon {
        font-size: 40px;
    }
}

@media (max-width: 875px) {
    .searchbar {
        display: none;
    }

    .responsive-icon {
        font-size: 32px;
    }
}

@media (max-width: 1200px) {
    .w-20,
    .w-30 {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .staff-wide {
        display: inline-block;
    }

    .staff-narrow {
        display: none;
    }
}

@media (max-width: 1199px) {
    .staff-wide {
        display: none;
    }

    .staff-narrow {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    #base_content {
        padding:       0;
        border-radius: 0;
    }

    #logo,
    #platform-menu {
        display: none;
    }

    .inner-wrapper {
        padding:       0;
        border-radius: var(--default-radius-mobile);
    }

    .level-right {
        justify-content: space-around;
    }

    .level-right li {
        margin-bottom: 5px;
        margin-top:    5px;
    }

    .spacer {
        height: 40px;
    }

    .page-wrapper {
        min-height: 100vh;
    }

    .spacer,
    .page-wrapper {
        margin: 0;
        width:  100%;
    }

    .notification-wrapper {
        left:  0;
        right: 0;
    }

    .img-polaroid {
        margin-right: 0;
    }

    .table-wrapper.w-75,
    .table-wrapper.w-50,
    .table-wrapper.w-50.right20,
    .table-wrapper.w-33,
    .table-wrapper.w-25 {
        width: 100%;
    }

    .minw-150 {
        min-width: 150px !important;
    }

    .badge {
        display: none;
    }

    .flex-grid {
        display: block;
    }

    .flex-grid .col {
        width: 100%
    }

    ul.buttons li:not(:last-child) {
        margin-bottom: .6125em;
    }

    .column:not(:first-child) {
        margin: .6125em 0 0 0;
    }

    .column .left20 {
        margin-left: 0;
    }

    .level-left.is-wrapped ul {
        display: inline-block;
    }

    .responsive-icon {
        font-size: 24px;
    }

    .flex-grid .col:not(:last-child) {
        margin-bottom: 1.25em;
    }

    .has-text-centered-mobile {
        margin-left:  auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .flex-top {
        align-items: flex-start;
        display:     flex;
    }

    #pm_count {
        display: none;
    }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration:        0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration:       0.01ms !important;
        scroll-behavior:           auto !important;
    }
}
