/* forums stuff */
  blockquote.style {
  font: 14px/20px italic Times, serif;
  padding: 10px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 10px;
  background-image: url(pic/forums/openquote.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote.style span {
     display: block;
     background-image: url(pic/forums/closequote.gif);
     background-repeat: no-repeat;
     background-position: bottom right;
  }

marquee.style {
	block-progression: tb;
	direction: ltr;
	overflow: auto;
	overflow-style: marquee;
	white-space: nowrap;
}

ul.style {
	list-style-type: circle;
}

ol.style {
	list-style-type: decimal;
}

td.smilies_frame {
  padding: 3px;
  border: 0px;
  background: transparent;
  text-align: center;
  vertical-align: middle;
}

div.scroll {
height: 360px;
width: 200px;
overflow: auto;
border: 0px;
}

/*
td.one and td.two are for alternating colours
they are the same now, but they should be slightly different
*/
td.one {
  background-color: #dddddd;
  border: none;
}

td.two {
  background-color: #cccccc;
  border: none;
}

td.three {
  background-color: #bbbbbb;
  border: none;
}

td.forum_head {
  background-color: #999999;
  border: none;
  /*background: url(pic/forums/headindex.png);*/
}

td.forum_head_dark {
-webkit-margin-start: 2px;
-webkit-margin-end: 2px;
-webkit-padding-before: 0.35em;
-webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
border: 2px groove threedface;
    height: 30px; font-weight: bold; color: #555;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaaaaa), to(#dddddd));
    background: -moz-linear-gradient(100% 100% 90deg, #aaaaaa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#aaaaaa',GradientType=0 )
}

td.recycled {
  /*background: url(pic/forums/recycle_big.gif) center no-repeat;*/
  background-color: #C0D9AF;
  border: none;
}

td.postlocked {
  background: url(pic/forums/lock.png) center no-repeat;
  background-color: #ffff00;
  border: none;
}

td.deleted {
  background: url(pic/forums/trash_big.gif) center no-repeat;
  background-color: #E2D99E;
  border: none;
}

td.spoiler {
	border: 1px black dotted;
	background-color: #000000;
	color: #000000;
}

td.spoiler a:hover
{
	text-decoration:none;
	border: 1px black dotted;
	background-color: #000000;
	color: #ffffff;
}

/* font sizes valid */
.font_size_1 {
	font-size: xx-small;
}
.font_size_2 {
	font-size: x-small;
}
.font_size_3 {
	font-size: small;
}
.font_size_4 {
	font-size: medium;
}
.font_size_5 {
	font-size: large;
}
.font_size_6 {
	font-size: x-large;
}
.font_size_7 {
	font-size: xx-large;
}

/*---------- drop down menus -----------*/
option.head {
	text-align:center;
  	font-weight: bold;
	color: black;
  	background-color: #FEFEF4;
  	border: none;
  	background: url(pic/forums/headindex.png);
}

option.body {
	background-color: #0a2030;
	color: black;
	cursor: pointer;
}

option.null {
	text-align:center;
	font-weight: bold;
	background-color: #0a2035;
	color: black;
}

/*---------- bubble tooltip -----------*/
a.tt_f{
    position:relative;
    z-index:24;
    text-decoration:none;
}
a.tt_f span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt_f:hover{ z-index:25; background:;}
a.tt_f:hover span.tooltip_forum_bubble{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	/*color: #993300;*/
    text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt_f:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(pic/bubble.gif) no-repeat top;
}
a.tt_f:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px;
	background: url(pic/bubble_filler.gif) repeat bottom;
}
a.tt_f:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
    background: url(pic/bubble.gif) no-repeat bottom;
}
/*---------- just tooltip -----------*/
a.tt_f2{
    position:relative;
    z-index:24;
    text-decoration:none;
}
a.tt_f2 span{
	display: none;
}

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt_f2:hover{ z-index:25; background:;}
a.tt_f2:hover span.tooltip_forum_tip{
    display:block;
    position:absolute;
	cursor: help;
    top:0px; left:0;
	padding: 5px 5px 5px 5px;
	background-color: #0a2035;
	width:400px;
	max-height:300px;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt_f2:hover span.top{
	display: block;
	padding: 5px 5px 5px 5px;
	color: black;
	font-weight: bold;
	background-color: #0055A4;
	background: url(pic/forums/headindex.png);
}
a.tt_f2:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 5px 10px 5px 10px;
	background-color: #FEFEF4;
	color: #000000;
	max-height:300px;
	overflow:hidden;
}

/* rounded button set... can be any image, just be sure to make them the same size! */

.button_tiny {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	border: none;
	font: normal 13px Tahoma;
	padding: 4px 4px;
	width: 79px;
	height: 24px;
	line-height: 16px


}

.button_tiny_hover {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	cursor: pointer;
	font-weight: bold;
	color: black;
	border: none;
	font: 13px Tahoma;
	padding: 4px 4px;
	width: 79px;
	height: 24px;
	line-height: 16px
}

.button {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	border: none;
	font: normal 13px Tahoma;
	padding: 4px 4px;
	width: 121px;
	height: 24px;
	line-height: 16px


}

.button_hover {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	cursor: pointer;
	font-weight: bold;
	color: black;
	border: none;
	font: 13px Tahoma;
	padding: 4px 4px;
	width: 121px;
	height: 24px;
	line-height: 16px
}

.button_med {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	border: none;
	font: normal 13px Tahoma;
	padding: 4px 4px;
	width: 188px;
	height: 24px;
	line-height: 16px


}

.button_med_hover {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	cursor: pointer;
	font-weight: bold;
	color: black;
	border: none;
	font: 13px Tahoma;
	padding: 4px 4px;
	width: 188px;
	height: 24px;
	line-height: 16px
}

.button_big {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	border: none;
	font: normal 13px Tahoma;
	padding: 4px 4px;
	width: 323px;
	height: 24px;
	line-height: 16px


}

.button_big_hover {
      position:relative;
      display: inline-block;
      margin-bottom: 1em;
      outline:none;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      border-radius: .25em;
      background-color: #e4e4e4;
      color:#555;
      vertical-align: baseline;
      text-align:center;
      text-decoration: none;
      cursor:pointer;
	cursor: pointer;
	font-weight: bold;
	color: black;
	border: none;
	font: 13px Tahoma;
	padding: 4px 4px;
	width: 323px;
	height: 24px;
	line-height: 16px
}

/* for drop down boxes...  */

option.head {
  	font-weight: bold;
	color: black;
  	background-color: #e8e3c5;
  	border: none;
  	background: url(pic/forums/headindex.png);
}

option.body {
	background-color: #e8e3c5;
	color: black;
	cursor: pointer;
}

.search {
	background:#FEFEF4 url(pic/search.png) no-repeat 4px 4px;
	color: black;
	padding:4px 4px 4px 22px;
	border:2px inset #878261;
	width:230px;
	height:18px;
}

.member {
	background:#FEFEF4 url(pic/member.png) no-repeat 4px 4px;
	color: black;
	padding:4px 4px 4px 22px;
	border:2px inset #878261;
	width:230px;
	height:18px;
}

.text_default {
	background-color: #FEFEF4;
	color: black;
	padding:4px;
	border:2px inset #878261;
	width:400px;
	height:18px;
}

.text_area_small {
	background-color: #FEFEF4;
	color: black;
	border:2px inset #878261;
	width: 600px;
	height: 120px;
	padding: 4px;
}

/* for forum polls...  */

fieldset.poll_select {
  border: none;
}

/* drop down for IP thing in forums
 This menu was inspired by (and the basic technique taken from) Eric Meyer's Pure CSS Menus.
found at :
http://www.howtocreate.co.uk/tutorials/testMenu.html*/

ul.makeMenu, ul.makeMenu ul {
  width: 90px;                 /* sets the size of the menu blocks */
  border: 0px;      /* puts a black border around the menu blocks */
  background-color: #e8e3c5;     /* makes the menu blocks mint green - a bg-color MUST be included for IE to work properly! */
  padding-left: 0px;           /* stops the usual indent from ul */
  cursor: pointer;             /* gives an arrow cursor */
  margin-left: 0px;            /* Opera 7 final\'s margin and margin-box model cause problems */
  font-weight:bold;
  text-align:left;
}
ul.makeMenu li {
  list-style-type: none;       /* removes the bullet points */
  margin: 0px;                 /* Opera 7 puts large spacings between li elements */
  position: relative;          /* makes the menu blocks be positioned relative to their parent menu item
                                  the lack of offset makes these appear normal, but it will make a difference
                                  to the absolutely positioned child blocks */
  color: #000;                 /* sets the default font colour to white */
  text-align:left;
}
ul.makeMenu li > ul {          /* using the > selector prevents many lesser browsers (and IE - see below) hiding child ULs */
  display: none;               /* hides child menu blocks - one of the most important declarations */
  position: absolute;          /* make child blocks hover without leaving space for them */
  top: 2px;                    /* position slightly lower than the parent menu item */
  left: 90px;                  /* this must not be more than the width of the parent block, or the mouse will have to move off the element to move between blocks, and the menu will close */
  text-align:left;
}
ul.makeMenu li:hover, ul.makeMenu li.CSStoHighlight {
  background-color: #e8e3c5;      /* gives the active menu items a yellow background */
  color: #000;                 /* makes the active menu item text black */
  background: url(pic/forums/headindex.png);
  text-align:left;
}
ul.makeMenu ul.CSStoShow {     /* must not be combined with the next rule or IE gets confused */
  display: block;              /* specially to go with the className changes in the behaviour file */
}
ul.makeMenu li:hover > ul {    /* one of the most important declarations - the browser must detect hovering over arbitrary elements
                                  the > targets only the child ul, not any child uls of that child ul */
  display: block;              /* makes the child block visible - one of the most important declarations */
}
/* and some link styles */
ul.makeMenu li a {
color: #000;
display: block;
width: 100%;
text-decoration: underline;
}
ul.makeMenu li a:hover, ul.makeMenu li a.CSStoHighLink {
 color: #000;
}
ul.makeMenu li:hover > a {
 color: #000;
} /* supports links in branch headings - should not be display: block; */
