body,
html {
    margin  : 0;
    padding : 0
}

.label {
    background : #fc3;
    padding    : 5px;
    font       : bold 10px Arial, sans-serif;
    position   : absolute;
    top        : 0;
    left       : 0
}

.form {
    padding    : 20px 20px 10px;
    background : #e0f4f8;
    width      : 580px;
    overflow   : hidden
}

.form p {
    margin  : 0 0 10px;
    float   : left;
    clear   : both;
    display : block
}

.form label {
    font    : bold .9em Helvetica, Arial, sans-serif;
    color   : #000;
    padding : 0 0 0 5px
}

.form .w {
    float      : left;
    clear      : both;
    padding    : 5px 5px 0;
    background : #d7ebef;
    font       : bold .8em Helvetica, Arial, sans-serif;
    color      : #000;
    overflow   : hidden
}

.form .w span {
    padding : 0 0 5px;
    float   : left
}

.form .input {
    border      : 1px solid #a5c2c8;
    line-height : 20px;
    padding     : 5px;
    margin      : 0 0 5px;
    width       : 537px;
    font        : bold 16px Helvetiva, Arial, sans-serif;
    color       : #000
}

.form .w label {
    padding : 0
}

#heading {
    font-family : Georgia, "Times New Roman", Times, serif;
    font-size   : 56px;
    color       : #c00
}

#bottomMoreButton {
    text-align : left;
    background : #eceff5;
    width      : 470px;
    height     : 18px;
    padding    : 10px 10px 10px 20px;
    color      : #3b5998
}

#bottomMoreButton a {
    color : #3b5998
}

body {
    text-align  : center;
    font-family : Arial, Sans-Serif;
    font-size   : .75em
}

input {
    font-size : 13px
}

.button,
.button:visited {
    display         : inline-block;
    text-decoration : none;
    text-shadow     : 0 -1px 1px rgba(0, 0, 0, .25);
    border-bottom   : 1px solid rgba(0, 0, 0, .25)
}

.small.button,
.small.button:visited {
    font-size : 14px
}

.button:hover {
    background-color : #111;
    color            : #fff
}

.button:active {
    top : 1px
}

.blue,
.button,
.button:visited {
    background-color : #e0e0e0;
    color            : #fff;
    font-size        : 14px;
    cursor           : auto;
    padding          : 5px;
    width            : 310px
}

.Detail.button,
.Detail.button:visited {
    font-weight      : 700;
    background-color : #5b74a8;
    font-size        : 12px;
    border-color     : #29447e #29447e #1a356e;
    text-align       : center;
    color            : #fff;
    cursor           : pointer;
    width            : 33px
}

.comment.button,
.comment.button:visited {
    background-color : #5b74a8;
    font-size        : 12px;
    border-color     : #29447e #29447e #1a356e;
    text-align       : center;
    margin-bottom    : 3px;
    margin-right     : 4px;
    font-weight      : 700;
    color            : #fff;
    cursor           : pointer;
    width            : 60px
}

.UIComposer_Box {
    background-color : #f2f2f2;
    border-color     : #919191 #b5b5b5 #cbcbcb;
    border-top       : 2px solid #919191;
    padding          : 7px 0 0;
    width            : 530px
}

#watermark {
    padding : 6px
}

a#link {
    font-family : Arial, Helvetica, sans-serif;
    color       : #3b5998;
    font-weight : bolder
}

.commentBox {
    width       : 350px;
    padding     : 3px;
    background  : #eceff5;
    margin-left : 18px;
    margin-top  : 3px
}

.commentPanel {
    width       : 350px;
    padding     : 5px 3px;
    background  : #eceff5;
    margin-left : 18px;
    margin-top  : 3px
}

.postedComments {
    float       : left;
    margin-left : 6px;
    width       : 290px;
    text-align  : justify
}

.commentMark {
    float       : left;
    width       : 300px;
    margin-left : 5px;
    font-size   : 11px
}

a.c_delete {
    color     : #3b5998;
    font-size : 11px
}

.friends_area {
    width          : 500px;
    vertical-align : top;
    min-height     : 60px;
    padding-bottom : 12px;
    padding-top    : 10px;
    border-bottom  : 1px solid #999
}

.top_area {
    background  : #627aad;
    font-size   : 14px;
    color       : #fff;
    font-weight : 700;
    padding     : 6px 6px 6px 12px
}

.name b {
    font-size : 14px;
    color     : #3b5998;
    cursor    : pointer
}

.name {
    font-size   : 14px;
    color       : #333;
    width       : 350px;
    text-align  : left;
    margin-left : 7px
}

a.delete {
    float                  : left;
    padding                : 5px;
    text-decoration        : none;
    -moz-background-clip   : border;
    -moz-background-origin : padding;
    background             : 0 0;
    border                 : 0;
    color                  : #333;
    cursor                 : pointer;
    display                : none;
    font-family            : 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size              : 11px;
    font-weight            : 700;
    margin                 : 0;
    outline-color          : -moz-use-text-color;
    outline-style          : none;
    outline-width          : medium;
    white-space            : nowrap
}

a.delete:hover {
    opacity    : 1;
    -ms-filter : 'alpha(opacity = 100)';
    border     : 1px solid #b1b1b1;
    background : #eee;
    padding    : 5px
}

.commentPanel a,
.name a {
    color     : #3b5998;
    font-size : 11px;
    margin    : 3px 3px 3px 0
}

.name em {
    color      : #333;
    font-style : normal;
    width      : 110px;
    font-size  : 11px
}

.name span {
    color     : #777;
    font-size : 11px
}
