.skin-1 #platform-menu,
.skin-1 header#navbar {
    background: #d3dad0;
    background: linear-gradient(to bottom, #d3dad0 0, #aeafa9 100%, #aeafa9 100%, #82725e 100%, #64627a 100%, #82725e 101%);
}

.skin-1 .ddFade {
    background: #82725e;
    background: linear-gradient(to bottom, #82725e -1%, #64627a 0, #82725e 0, #aeafa9 0, #aeafa9 0, #d3dad0 100%);
}

.skin-2 #platform-menu,
.skin-2 header#navbar {
    background: #7d7e7d;
    background: linear-gradient(to bottom, #7d7e7d 0, #0e0e0e 100%);
}

.skin-2 .ddFade {
    background: #0e0e0e;
    background: linear-gradient(to bottom, #0e0e0e 0, #7d7e7d 100%);
}
