/** Staff.php Settings --------------------------------------------------------------- */
td.staff_username {
    width: 20%;
    height: 30px;
    text-align: left;
    border: none
}

td.staff_online {
    width: 80px;
    height: 30px;
    text-align: center;
    border: none
}

div.global_icon {
    width: 63px;
    height: 29px;
    text-align: center;
    padding-top: 6px;
    background: #b6b7b8;
    background: -o-linear-gradient(top, #b6b7b8 0%,#dfdfe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#b6b7b8),to(#dfdfe0));
    background: linear-gradient(to bottom, #b6b7b8 0%,#dfdfe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b7b8', endColorstr='#dfdfe0',GradientType=0 );
    float: left;
    display: inline;
    border-color: #eae9e9;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

div.global_head {
    height: 35px;
    margin-right: 2px;
    text-align: left;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    background: #b6b7b8;
    background: -o-linear-gradient(top, #b6b7b8 0%,#dfdfe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#b6b7b8),to(#dfdfe0));
    background: linear-gradient(to bottom, #b6b7b8 0%,#dfdfe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b7b8', endColorstr='#dfdfe0',GradientType=0 );
    float: right;
    display: block;
    line-height: 34px;
    border-color: #eae9e9;

    padding-left: 20px;
}

div.global_text {
    text-align: center;
    background: #b6b7b8;
    background: -o-linear-gradient(top, #b6b7b8 0%,#dfdfe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#b6b7b8),to(#dfdfe0));
    background: linear-gradient(to bottom, #b6b7b8 0%,#dfdfe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b7b8', endColorstr='#dfdfe0',GradientType=0 );
    margin-bottom: 20px;
    padding: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
