.tooltipster-base {
    display        : -webkit-box;
    display        : -ms-flexbox;
    display        : flex;
    pointer-events : none;
    position       : absolute
}

.tooltipster-box {
    -webkit-box-flex : 1;
    -ms-flex         : 1 1 auto;
    flex             : 1 1 auto
}

.tooltipster-content {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    max-height         : 100%;
    max-width          : 100%;
    overflow           : auto
}

.tooltipster-ruler {
    bottom     : 0;
    left       : 0;
    overflow   : hidden;
    position   : fixed;
    right      : 0;
    top        : 0;
    visibility : hidden
}

.tooltipster-fade {
    opacity                     : 0;
    -webkit-transition-property : opacity;
    -o-transition-property      : opacity;
    transition-property         : opacity
}

.tooltipster-fade.tooltipster-show {
    opacity : 1
}

.tooltipster-grow {
    -webkit-transform           : scale(0, 0);
    -ms-transform               : scale(0, 0);
    transform                   : scale(0, 0);
    transition-property         : -webkit-transform;
    -webkit-transition-property : -webkit-transform;
    -o-transition-property      : transform;
    transition-property         : transform;
    transition-property         : transform, -webkit-transform;
    transition-property         : transform, -webkit-transform;
    -webkit-backface-visibility : hidden
}

.tooltipster-grow.tooltipster-show {
    -webkit-transform                  : scale(1, 1);
    -ms-transform                      : scale(1, 1);
    transform                          : scale(1, 1);
    -webkit-transition-timing-function : cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function      : cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function         : cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-swing {
    opacity                     : 0;
    -webkit-transform           : rotateZ(4deg);
    -ms-transform               : rotate(4deg);
    transform                   : rotateZ(4deg);
    transition-property         : -webkit-transform;
    -webkit-transition-property : -webkit-transform;
    -o-transition-property      : transform;
    transition-property         : transform;
    transition-property         : transform, -webkit-transform;
    transition-property         : transform, -webkit-transform
}

.tooltipster-swing.tooltipster-show {
    opacity                            : 1;
    -webkit-transform                  : rotateZ(0);
    -ms-transform                      : rotate(0);
    transform                          : rotateZ(0);
    -webkit-transition-timing-function : cubic-bezier(.23, .635, .495, 2.4);
    -o-transition-timing-function      : cubic-bezier(.23, .635, .495, 2.4);
    transition-timing-function         : cubic-bezier(.23, .635, .495, 2.4)
}

.tooltipster-fall {
    -webkit-transition-property        : top;
    -o-transition-property             : top;
    transition-property                : top;
    -webkit-transition-timing-function : cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function      : cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function         : cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-fall.tooltipster-initial {
    top : 0 !important
}

.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property : all;
    -o-transition-property      : all;
    transition-property         : all;
    top                         : 0 !important;
    opacity                     : 0
}

.tooltipster-slide {
    -webkit-transition-property        : left;
    -o-transition-property             : left;
    transition-property                : left;
    -webkit-transition-timing-function : cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function      : cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function         : cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-slide.tooltipster-initial {
    left : -40px !important
}

.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property : all;
    -o-transition-property      : all;
    transition-property         : all;
    left                        : 0 !important;
    opacity                     : 0
}

@-webkit-keyframes tooltipster-fading {
    0% {
        opacity : 0
    }
    100% {
        opacity : 1
    }
}

@keyframes tooltipster-fading {
    0% {
        opacity : 0
    }
    100% {
        opacity : 1
    }
}

.tooltipster-update-fade {
    -webkit-animation : .4s tooltipster-fading;
    animation         : .4s tooltipster-fading
}

@-webkit-keyframes tooltipster-rotating {
    25% {
        -webkit-transform : rotate(-2deg);
        transform         : rotate(-2deg)
    }
    75% {
        -webkit-transform : rotate(2deg);
        transform         : rotate(2deg)
    }
    100% {
        -webkit-transform : rotate(0);
        transform         : rotate(0)
    }
}

@keyframes tooltipster-rotating {
    25% {
        -webkit-transform : rotate(-2deg);
        transform         : rotate(-2deg)
    }
    75% {
        -webkit-transform : rotate(2deg);
        transform         : rotate(2deg)
    }
    100% {
        -webkit-transform : rotate(0);
        transform         : rotate(0)
    }
}

.tooltipster-update-rotate {
    -webkit-animation : .6s tooltipster-rotating;
    animation         : .6s tooltipster-rotating
}

@-webkit-keyframes tooltipster-scaling {
    50% {
        -webkit-transform : scale(1.1);
        transform         : scale(1.1)
    }
    100% {
        -webkit-transform : scale(1);
        transform         : scale(1)
    }
}

@keyframes tooltipster-scaling {
    50% {
        -webkit-transform : scale(1.1);
        transform         : scale(1.1)
    }
    100% {
        -webkit-transform : scale(1);
        transform         : scale(1)
    }
}

.tooltipster-update-scale {
    -webkit-animation : .6s tooltipster-scaling;
    animation         : .6s tooltipster-scaling
}

.tooltipster-sidetip .tooltipster-box {
    background    : #565656;
    border        : 2px solid #000;
    border-radius : 4px
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
    margin-top : 8px
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
    margin-right : 8px
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
    margin-left : 8px
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
    margin-bottom : 8px
}

.tooltipster-sidetip .tooltipster-content {
    color       : #fff;
    line-height : 18px;
    padding     : 6px 14px
}

.tooltipster-sidetip .tooltipster-arrow {
    overflow : hidden;
    position : absolute
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
    height      : 10px;
    margin-left : -10px;
    top         : 0;
    width       : 20px
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
    height     : 20px;
    margin-top : -10px;
    right      : 0;
    top        : 0;
    width      : 10px
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
    height     : 20px;
    margin-top : -10px;
    left       : 0;
    top        : 0;
    width      : 10px
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    bottom      : 0;
    height      : 10px;
    margin-left : -10px;
    width       : 20px
}

.tooltipster-sidetip .tooltipster-arrow-background,
.tooltipster-sidetip .tooltipster-arrow-border {
    height   : 0;
    position : absolute;
    width    : 0
}

.tooltipster-sidetip .tooltipster-arrow-background {
    border : 10px solid transparent
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color : #565656;
    left                : 0;
    top                 : 3px
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color : #565656;
    left              : -3px;
    top               : 0
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color : #565656;
    left               : 3px;
    top                : 0
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color : #565656;
    left             : 0;
    top              : -3px
}

.tooltipster-sidetip .tooltipster-arrow-border {
    border : 10px solid transparent;
    left   : 0;
    top    : 0
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color : #000
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color : #000
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color : #000
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color : #000
}

.tooltipster-sidetip .tooltipster-arrow-uncropped {
    position : relative
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
    top : -10px
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
    left : -10px
}
