.tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
  border: none;
  background: rgba(10,10,10,.95)
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-box {
  margin-top: 8px
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-box {
  margin-right: 8px
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-box {
  margin-left: 8px
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-box {
  margin-bottom: 8px
}
.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow {
  height: 8px;
  margin-left: -8px;
  width: 16px
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
  height: 16px;
  margin-left: 0;
  margin-top: -8px;
  width: 8px
}
.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-border {
  border: 8px solid transparent
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: rgba(10,10,10,.95)
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow-border {
  border-left-color: rgba(10,10,10,.95)
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-border {
  border-right-color: rgba(10,10,10,.95)
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-arrow-border {
  border-top-color: rgba(10,10,10,.95)
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -8px
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-uncropped {
  left: -8px
}
.tooltipper_img {
  vertical-align: unset;
  margin: 5px
}
.tooltip_templates,
.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
  display: none
}