div.global_icon {
    width                  : 63px;
    height                 : 29px;
    text-align             : center;
    padding-top            : 6px;
    background             : #333;
    background             : -o-linear-gradient(top, #333 0, #555 100%);
    background             : -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), to(#555));
    background             : -webkit-linear-gradient(top, #333 0, #555 100%);
    background             : linear-gradient(to bottom, #333 0, #555 100%);
    border-top-left-radius : 8px;
    float                  : left;
    display                : inline;
    border-color           : #eae9e9
}

div.global_head {
    width                   : 80%;
    height                  : 35px;
    margin-right            : 2px;
    text-align              : left;
    color                   : #fff;
    font-size               : 15px;
    font-weight             : bolder;
    background              : #555;
    background              : -o-linear-gradient(top, #555 0, #666 100%);
    background              : -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), to(#666));
    background              : -webkit-linear-gradient(top, #555 0, #666 100%);
    background              : linear-gradient(to bottom, #555 0, #666 100%);
    border-top-right-radius : 8px;
    float                   : right;
    display                 : block;
    line-height             : 34px;
    border-color            : #eae9e9;
    padding-left            : 20px
}

div.global_text {
    width              : 80%;
    text-align         : center;
    color              : #fff;
    background         : #333;
    margin-bottom      : 20px;
    padding            : 15px;
    -moz-border-radius : 10px
}

#keyboardInputMaster {
    position         : absolute;
    border           : 2px solid #ddd;
    color            : #000;
    background-color : #ddd;
    text-align       : left;
    z-index          : 1000000;
    width            : auto
}

#keyboardInputMaster thead tr th {
    text-align       : left;
    padding          : 2px 5px 2px 4px;
    background-color : inherit;
    border           : 0
}

#keyboardInputMaster thead tr th label,
#keyboardInputMaster thead tr th select {
    color : #000;
    font  : 11px Arial, sans-serif
}

#keyboardInputMaster thead tr td {
    text-align       : right;
    padding          : 2px 4px 2px 5px;
    background-color : inherit;
    border           : 0
}

#keyboardInputMaster thead tr td span {
    padding          : 1px 4px;
    font             : bold 11px Arial, sans-serif;
    border           : 1px outset #aaa;
    background-color : #555;
    cursor           : pointer
}

#keyboardInputMaster thead tr td span.pressed {
    border           : 1px inset #999;
    background-color : #bbb
}

#keyboardInputMaster tbody tr td {
    text-align : left;
    margin     : 0;
    padding    : 0 4px 3px
}

#keyboardInputMaster tbody tr td div {
    text-align : center;
    position   : relative;
    height     : 0
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout {
    height : auto
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table {
    height          : 20px;
    white-space     : nowrap;
    width           : 100%;
    border-collapse : separate
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter {
    width  : auto;
    margin : 0 auto
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td {
    vertical-align      : middle;
    padding             : 0 5px;
    white-space         : pre;
    font                : 11px 'Lucida Console', monospace;
    border              : 1px solid #e5e5e5;
    border-right-color  : #5d5d5d;
    border-bottom-color : #5d5d5d;
    background-color    : #777;
    cursor              : default
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.last {
    width : 99%
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.alive {
    background-color : #ccd
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.target {
    background-color : #ddc
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.hover {
    border              : 1px solid #d5d5d5;
    border-right-color  : #555;
    border-bottom-color : #555;
    background-color    : #555
}

#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.dead,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.pressed {
    border              : 1px solid #555;
    border-right-color  : #d5d5d5;
    border-bottom-color : #d5d5d5;
    background-color    : #555
}

#keyboardInputMaster tbody tr td div var {
    position : absolute;
    bottom   : 0;
    right    : 0;
    font     : italic bold 11px Arial, sans-serif;
    color    : #777
}

.keyboardInputInitiator {
    margin-left    : 3px;
    vertical-align : middle;
    cursor         : pointer
}
