div.global_icon {
    width                  : 63px;
    height                 : 29px;
    text-align             : center;
    padding-top            : 6px;
    background             : #9c9b9b;
    background             : -o-linear-gradient(top, #9c9b9b 0%, #cfcfcf 100%);
    background             : -webkit-gradient(linear, left top, left bottom, from(#9c9b9b), to(#cfcfcf));
    background             : linear-gradient(to bottom, #9c9b9b 0%, #cfcfcf 100%);
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9b9b', endColorstr='#cfcfcf', GradientType=0);
    border-top-left-radius : 8px;
    float                  : left;
    display                : inline;
    border-color           : #eae9e9;
}

div.global_head {
    width                   : 884px;
    height                  : 35px;
    margin-right            : 2px;
    text-align              : left;
    color                   : #474747;
    font-size               : 15px;
    font-weight             : bolder;
    background              : #c1c0c0;
    background              : -o-linear-gradient(top, #c1c0c0 0%, #d9d8d8 100%);
    background              : -webkit-gradient(linear, left top, left bottom, from(#c1c0c0), to(#d9d8d8));
    background              : linear-gradient(to bottom, #c1c0c0 0%, #d9d8d8 100%);
    filter                  : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c0c0', endColorstr='#d9d8d8', GradientType=0);
    border-top-right-radius : 8px;
    float                   : right;
    display                 : block;
    line-height             : 34px;
    border-color            : #eae9e9;
    padding-left            : 20px;
}

div.global_text {
    width                      : 938px;
    text-align                 : center;
    color                      : #474747;
    background                 : #e1e0e0;
    margin-bottom              : 20px;
    padding                    : 15px;
    border-bottom-right-radius : 8px;
    border-bottom-left-radius  : 8px;
}

div.global_icon_inf {
    width                  : 63px;
    height                 : 29px;
    text-align             : center;
    padding-top            : 6px;
    background             : #9c9b9b;
    background             : -o-linear-gradient(top, #9c9b9b 0%, #cfcfcf 100%);
    background             : -webkit-gradient(linear, left top, left bottom, from(#9c9b9b), to(#cfcfcf));
    background             : linear-gradient(to bottom, #9c9b9b 0%, #cfcfcf 100%);
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9b9b', endColorstr='#cfcfcf', GradientType=0);
    border-top-left-radius : 8px;
    float                  : left;
    display                : inline;
    border-color           : #eae9e9;
}

div.global_head_inf {
    width                   : 883px;
    height                  : 35px;
    margin-right            : 2px;
    text-align              : left;
    color                   : #474747;
    font-size               : 15px;
    font-weight             : bolder;
    background              : #c1c0c0;
    background              : -o-linear-gradient(top, #c1c0c0 0%, #d9d8d8 100%);
    background              : -webkit-gradient(linear, left top, left bottom, from(#c1c0c0), to(#d9d8d8));
    background              : linear-gradient(to bottom, #c1c0c0 0%, #d9d8d8 100%);
    filter                  : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c0c0', endColorstr='#d9d8d8', GradientType=0);
    border-top-right-radius : 8px;
    float                   : right;
    display                 : block;
    line-height             : 34px;
    border-color            : #eae9e9;
    padding-left            : 20px;
}

div.global_text_inf {
    width                      : 938px;
    text-align                 : center;
    color                      : #474747;
    background                 : #e1e0e0;
    margin-bottom              : 20px;
    padding                    : 15px;
    border-bottom-right-radius : 8px;
    border-bottom-left-radius  : 8px;
}

div.global_icon_ucom {
    width                  : 63px;
    height                 : 29px;
    text-align             : center;
    padding-top            : 6px;
    background             : #9c9b9b;
    background             : -o-linear-gradient(top, #9c9b9b 0%, #cfcfcf 100%);
    background             : -webkit-gradient(linear, left top, left bottom, from(#9c9b9b), to(#cfcfcf));
    background             : linear-gradient(to bottom, #9c9b9b 0%, #cfcfcf 100%);
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9b9b', endColorstr='#cfcfcf', GradientType=0);
    border-top-left-radius : 8px;
    float                  : left;
    display                : inline;
    border-color           : #eae9e9;
}

div.global_head_ucom {
    width                   : 863px;
    height                  : 35px;
    margin-right            : 2px;
    text-align              : left;
    color                   : #474747;
    font-size               : 15px;
    font-weight             : bolder;
    background              : #c1c0c0;
    background              : -o-linear-gradient(top, #c1c0c0 0%, #d9d8d8 100%);
    background              : -webkit-gradient(linear, left top, left bottom, from(#c1c0c0), to(#d9d8d8));
    background              : linear-gradient(to bottom, #c1c0c0 0%, #d9d8d8 100%);
    filter                  : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c0c0', endColorstr='#d9d8d8', GradientType=0);
    border-top-right-radius : 8px;
    float                   : right;
    display                 : block;
    line-height             : 34px;
    border-color            : #eae9e9;
    padding-left            : 20px;
}

div.global_text_ucom {
    width                      : 918px;
    text-align                 : center;
    color                      : #474747;
    background                 : #e1e0e0;
    margin-bottom              : 20px;
    padding                    : 15px;
    border-bottom-right-radius : 8px;
    border-bottom-left-radius  : 8px;
}

div.global_icon_euser {
    width                  : 63px;
    height                 : 29px;
    text-align             : center;
    padding-top            : 6px;
    background             : #9c9b9b;
    background             : -o-linear-gradient(top, #9c9b9b 0%, #cfcfcf 100%);
    background             : -webkit-gradient(linear, left top, left bottom, from(#9c9b9b), to(#cfcfcf));
    background             : linear-gradient(to bottom, #9c9b9b 0%, #cfcfcf 100%);
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9b9b', endColorstr='#cfcfcf', GradientType=0);
    border-top-left-radius : 8px;
    float                  : left;
    display                : inline;
    border-color           : #eae9e9;
}

div.global_head_euser {
    width                   : 863px;
    height                  : 35px;
    margin-right            : 2px;
    text-align              : left;
    color                   : #474747;
    font-size               : 15px;
    font-weight             : bolder;
    background              : #c1c0c0;
    background              : -o-linear-gradient(top, #c1c0c0 0%, #d9d8d8 100%);
    background              : -webkit-gradient(linear, left top, left bottom, from(#c1c0c0), to(#d9d8d8));
    background              : linear-gradient(to bottom, #c1c0c0 0%, #d9d8d8 100%);
    filter                  : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c0c0', endColorstr='#d9d8d8', GradientType=0);
    border-top-right-radius : 8px;
    float                   : right;
    display                 : block;
    line-height             : 34px;
    border-color            : #eae9e9;
    padding-left            : 20px;
}

div.global_text_euser {
    width                      : 918px;
    text-align                 : center;
    color                      : #474747;
    background                 : #e1e0e0;
    margin-bottom              : 20px;
    padding                    : 15px;
    border-bottom-right-radius : 8px;
    border-bottom-left-radius  : 8px;
}
