@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary: #add8e6;
$green: #00ff00;
$orange: #FF8C00;
$lightgreen: #90ee90;
$jade: #2cc48a;
$turquoise: #40e0d0;
$blue: #0033ff;
$lightblue: #209cee;
$gold: #ffff00;
$link: #fcffc2;
$link-active: $jade;
$link-hover: f;
$body-color: $primary;
$warning: #ff0099;
$info: #e6fb04;

@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

$primary-invert: findColorInvert($primary);
$green-invert: findColorInvert($green);
$lightgreen-invert: findColorInvert($lightgreen);
$jade-invert: findColorInvert($jade);
$turquoise-invert: findColorInvert($turquoise);
$blue-invert: findColorInvert($blue);
$lightblue-invert: findColorInvert($lightblue);
$gold-invert: findColorInvert($gold);
$warning-invert: findColorInvert($warning);
$info-invert: findColorInvert($info);

$custom-colors: ('orange': ($orange, $orange-invert), 'green': ($green, $green-invert), 'lightgreen': ($lightgreen, $lightgreen-invert), 'jade': ($jade, $jade-invert), 'turquoise': ($turquoise, $turquoise-invert), 'blue': ($blue, $blue-invert), 'lightblue': ($lightblue, $lightblue-invert), 'gold': ($gold, $gold-invert));
$colors: mergeColorMaps($colors, $custom-colors);
