html {
    background: black;
    min-height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-size: 75%;
    line-height: 110%;
    margin: auto;
    padding: 0;
    height: max-content;
    width: auto;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    position: relative;
}

a,
input,
select,
.header {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.level-center ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #699bff;
    text-decoration: none;
}

iframe {
    padding: 0;
    margin: 0;
    width: 100%;
}

fieldset {
    margin: 0;
    -webkit-padding-start: .75em;
    -webkit-padding-end: .75em;
    -webkit-padding-before: .75em;
    -webkit-padding-after: .75em;
    padding: 0;
    border: 0;
}

legend {
    font-size: 1.625em;
    display: block;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 10px 0;
    border: 0;
    width: calc(100% - 10px);
    margin-left: 5px;
}

input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label,
select {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-weight: 400;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 {
    margin-bottom: .7em;
    line-height: 2.2em;
}

h2 {
    margin-bottom: .6em;
    line-height: 1.65em;
}

h3 {
    margin-bottom: .5em;
    line-height: 1.65em;
}

h4 {
    margin-bottom: .4em;
    line-height: 1.1em;
}

h5 {
    margin-bottom: .3em;
    line-height: .88em;
}

h6 {
    margin-bottom: .2em;
    line-height: .6875em;
}

p {
    line-height: 1.1em;
}

p + p {
    margin-top: 1.25em;
}

.site-debug {
    padding: 20px;
}

.size_1 {
    font-size: .5em;
}

.size_2,
h6 {
    font-size: .625em;
}

.size_3,
h5 {
    font-size: .8em;
}

.size_4,
h4 {
    font-size: 1em;
}

.size_5,
h3 {
    font-size: 1.125em;
}

.size_6,
h2 {
    font-size: 1.5em;
}

.size_7,
h1 {
    font-size: 2em;
}

#base_content {
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    padding: 20px;
}

#IE_ALERT {
    display: none;
}

#logo {
    /*margin-top: 40px;*/
    height: 150px;
    /*padding: 20px 10px 30px;*/
}

#logo h1 {
    text-transform: uppercase;
    display: inline;
    font-size: 3.3125em;
}

#logo .description {
    font-size: 1.25em;
    font-style: italic;
    color: #c00;
    margin-top: 5px;
}

.spacer {
    width: 100%;
    height: 40px;
    background: transparent;
}
.alt_bordered,
.bordered {
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    -webkit-padding-before: .75em;
    -webkit-padding-start: .75em;
    -webkit-padding-end: .75em;
    -webkit-padding-after: .75em;
}

.bg-none {
    background-color: transparent;
}

.bg-dark {
    background-color: black;
}

.bg-00 {
    background-color: rgba(255, 255, 255, .1);
}

.bg-01 {
    background-color: rgba(255, 255, 255, .2);
}

.bg-02 {
    background-color: rgba(0, 0, 0, .1);
}

.bg-03 {
    background-color: rgba(0, 0, 0, .2);
}

.bg-04 {
    background-color: rgba(0, 0, 0, .4);
}

.bg-05 {
    background-color: rgba(100, 100, 100, .45);
}

.bordered {
    border-top: 2px groove red;
    border-bottom: 2px groove red;
}

.alt_bordered {
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.bordered {
    -webkit-margin-start: .125em;
    -webkit-margin-end: .125em;
}

.bottom5 {
    margin-bottom: .3125em;
}

.bottom10 {
    margin-bottom: .625em;
}

.bottom20 {
    margin-bottom: 1.25em;
}

.break_word {
    word-break: break-all;
    word-wrap: break-word;
}

.cloud {
    padding: 10px;
    width: 100%;
    min-height: 70px;
    line-height: 2.1875em;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(0, 0, 0, .1);
}

.columns {
    margin-left: 0;
    margin-right: 0;
}

.column:last-child{
    padding-right: 0;
}

.column:first-child{
    padding-left: 0;
}

.torrent-name {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inner-wrapper {
    padding: 20px;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
}

input,
select,
textarea {
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
}

.portlet.is-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.is-wrapped {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.left10 {
    margin-left: .625em;
}

.left20 {
    margin-left: 1.25em;
}

.level-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.level-right li:not(:first-child) {
    margin-left: 5px;
}

.module {
    position: relative;
}

.badge,
.module .badge {
    z-index: 1;
    position: absolute;
}

.module .badge-hot {
    background-position: 0 0;
}

.badge-free,
.badge-hot,
.badge-new,
.badge-top {
    margin-right: -2px;
    margin-top: -2px;
}

.module .badge {
    right: 2px;
    top: 0;
}

.badge-hot,
.module .badge-hot {
    background-position: 0 0;
}

.badge-top,
.module .badge-top {
    background-position: 0 -50px;
}

.badge-free,
.module .badge-free {
    background-position: 0 -100px;
}

.badge-new,
.module .badge-new {
    background-position: 0 -150px;
}

.badge {
    background-image: url(./images/module_badges.png);
    top: -5px;
    right: -5px;
    width: 50px;
    height: 50px;
}

.box {
    text-align: justify;
}

.is_hidden,
.navbar-menu.box {
    display: none;
}

.half-container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.has-no-border {
    border: none !important;
}

.has-no-wrap {
    white-space: nowrap;
}

.margin10 {
    margin: .625em;
}

.margin20 {
    margin: 1.25em;
}

.padding5 {
    padding: .3125em;
}

.padding10 {
    padding: .625em;
}

.padding20 {
    padding: 1.25em;
}

.platform-wrapper {
    height: 30px;
    font-size: 1.25em;
}

.portlet {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    overflow-y: hidden;
    overflow-x: auto;
}

.portlet:not(:last-child) {
    margin-bottom: 20px;
}

.right10 {
    margin-right: .625em;
}

.right20 {
    margin-right: 1.25em;
}

.round5 {
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
}

.round10 {
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
}

.text-white {
    color: #fff;
}

.text-lime {
    color: #0f0;
}

.is-danger,
.text-red {
    color: #ff3860;
}

.text-yellow {
    color: #ff0;
}

.is-success,
.text-green {
    color: #23d160;
}

.text-lightgreen {
    color: #90ee90;
}

.text-jade {
    color: #2cc48a;
}

.text-turquoise {
    color: #40e0d0;
}

.text-blue {
    color: #0000ff;
}

.is-info,
.text-lightblue {
    color: #209cee;
}

.text-gold {
    color: #ffd700;
}

.text-orange {
    color: #ffa500;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.tooltip-template {
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
}

.tooltip-poster {
    height: 225px;
    width: 150px;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
}

.tooltip-torrent {
    height: 245px;
}

.tooltip {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    background: rgba(255, 255, 255, 0.1);
}

.top5 {
    margin-top: .3125em;
}

.top10 {
    margin-top: .625em;
}

.top20 {
    margin-top: 1.25em;
}

.back-to-top {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: .875em;
    padding: 5px;
    display: none;
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
    border: 1px solid white;
    z-index: 2;
}

.back-to-top:hover {
    background-color: #c3dcc4;
    color: black;
    border: 1px solid black;
}

.bordered + .bordered {
    margin-top: 20px;
}

.mw-50 {
    max-width: 50%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

@media (max-width: 767px) {
    #base_content {
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #base_globelmessage {
        /*margin-top: 50px;*/
    }

    #logo,
    #platform-menu {
        display: none;
    }

    .column {
        padding-left: 0;
        padding-right: 0;
    }

    .inner-wrapper {
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .level-center li:not(:last-child) {
        margin-bottom: 15px;
    }

    .level-right {
        justify-content: space-around;
    }

    .level-right li {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .site-debug {
        padding: 0;
    }

    .spacer {
        height: 50px;
    }

    .w-15 {
        width: 25%;
    }

    .w-25, .w-50 {
        width: 100%;
    }
}
