@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary: #add8e6;
$lightgreen: #90ee90;
$jade: #2cc48a;
$turquoise: #40e0d0;
$blue: #00f;
$lightblue: #209cee;
$gold: #ffd700;
$link: #fcffc2;
$link-active: $jade;
$link-hover: #fff;
$body-color: $primary;
$warning: #ff048d;
$info: #ffff00;

@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

$primary-invert: findColorInvert($primary);
$lightgreen-invert: findColorInvert($lightgreen);
$jade-invert: findColorInvert($jade);
$turquoise-invert: findColorInvert($turquoise);
$blue-invert: findColorInvert($blue);
$lightblue-invert: findColorInvert($lightblue);
$gold-invert: findColorInvert($gold);
$warning-invert: findColorInvert($warning);
$info-invert: findColorInvert($info);

$custom-colors: ('lightgreen': ($lightgreen, $lightgreen-invert), 'jade': ($jade, $jade-invert), 'turquoise': ($turquoise, $turquoise-invert), 'blue': ($blue, $blue-invert), 'lightblue': ($lightblue, $lightblue-invert), 'gold': ($gold, $gold-invert));
$colors: mergeColorMaps($colors, $custom-colors);
