div.scrollingHotSpotLeftVisible {
    background   : #fff url(../images/arrow_left.gif) no-repeat;
    opacity      : .35;
    -moz-opacity : .35;
    zoom         : 1;
}

div.scrollingHotSpotRight {
    min-width  : 75px;
    width      : 10%;
    height     : 100%;
    background : url(../images/big_transparent.gif) repeat center center;
    position   : absolute;
    z-index    : 200;
    right      : 0;
    cursor     : url(../images/cursors/cursor_arrow_right.png), url(../images/cursors/cursor_arrow_right.cur), e-resize;
}

div.scrollingHotSpotRightVisible {
    background   : #fff url(../images/arrow_right.gif) no-repeat;
    opacity      : .35;
    -moz-opacity : .35;
    zoom         : 1;
}

div.scrollWrapper {
    position : relative;
    overflow : hidden;
    width    : 100%;
    height   : 100%;
}

div.scrollableArea {
    position : relative;
    width    : auto;
    height   : 100%;
}

#logoParade {
    width              : 80%;
    position           : relative;
    height             : 210px;
    text-align         : center;
    margin             : 5px auto 40px;
    border-radius      : 6px;
    background         : -o-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) rgba(0, 0, 0, .1);
    background         : -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .15)), to(rgba(0, 0, 0, 0))) rgba(0, 0, 0, .1);
    background         : -webkit-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) rgba(0, 0, 0, .1);
    background         : linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) rgba(0, 0, 0, .1);
    font-family        : Monaco, Courier New, monospace;
    padding            : 20px;
    color              : #fff;
    -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .25);
    box-shadow         : inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .25);
}

.square {
    float       : left;
    width       : 60%;
    text-align  : right;
    text-shadow : 0 5px 11px #000;
    color       : #fff;
    font        : 28px LeagueGothicRegular;
    opacity     : .9;
}

.square2 {
    float      : right;
    width      : 39%;
    text-align : right;
}

.scontainer {
    text-align : center;
    width      : 83%;
    margin     : 60px auto;
}

.centerwrapper {
    margin : auto;
    width  : 100%;
}

#logoParade div.scrollableArea * {
    float        : left;
    padding-left : 1px;
    width        : 155px;
}

.scrollableArea > a > img {
    width  : 500px;
    height : 220px;
}

.scrollableArea > a {
    margin-left : 5px;
}
