/*
 * @package AJAX_Chat
 * @author Sebastian Tschan
 * @author Philip Nicolcev
 *
 * Color palette inspired by PunBB style "Cobalt":
 * http://punbb.org/
 */
@import url('global.css');
@import url('fonts.css');
@import url('print.css');
@import url('custom.css');
@import url('classcolors.css');

/* Buttons */
#content #bbCodeContainer input, #content #logoutButton, #content #submitButton, #loginForm #loginButton {
    color: #f0f0f0;
    border: 1px solid #808080;
    background: #000 linear-gradient(to bottom, #222, #000);
}

#content #bbCodeContainer input:hover, #content #logoutButton:hover, #content #submitButton:hover, #loginForm #loginButton:hover {
    background: #222 linear-gradient(to top, #222, #000);
}

#content select, #loginForm select, #loginForm input, #content textarea {
    background-color: #000;
    color: #fafafa;
    border: 1px solid #808080;
}

/* Status Icon */
#content #statusIconContainer {
    background: url('../../images/loading-sprite.png') no-repeat 0 0;
}

#content #statusIconContainer.waiting {
    background-position: 0 -22px;
}

#content #statusIconContainer.retrying {
    background-position: 0 -44px;
}

/* Other Theme Elements */
.ajax-chat {
    background-color: #000;
    color: #FFF;
}

.ajax-chat a {
    color: #FFF;
}

.ajax-chat h1 {
    color: #FFF;
}

#loginContent input, #loginContent select {
    background-color: #212121;
    color: #FFF;
}

#loginContent #errorContainer {
    color: red;
}

#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer, #content textarea {
    border-color: gray;
    background-color: #000;
}

.ajax-chat .popup {
    background-color: #000;
    border: 1px solid gray;
}

#content #colorCodesContainer a {
    border-color: black;
}

#content #optionsContainer input {
    background-color: transparent;
}

#content .rowEven, #helpList dl:nth-child(even), #settingsList dl:nth-child(even) {
    background-color: #212121;
}

#content .rowOdd, #helpList dl:nth-child(odd), #settingsList dl:nth-child(odd) {
    background-color: #000;
}

#content #chatList .rowOdd.private {
    background-color: #B83C1D;
}

#content #chatList .rowEven.private {
    background-color: #C84A24;
}

#content #chatList .chatBotErrorMessage {
    color: red;
}

#content #chatList a {
    color: #1E90FF;
}

#content #chatList .deleteSelected {
    border-color: red;
}

#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
    background-color: #212121;
    color: #FFF;
}
