/*
 * @package AJAX_Chat
 * @author Sebastian Tschan
 * @author Philip Nicolcev
 *
 * Color palette inspired by Simple Machines Forum style "SMF Default Theme - Core":
 * http://www.simplemachines.org/
 */
@import url('global.css');
@import url('fonts.css');
@import url('print.css');
@import url('custom.css');
@import url('classcolors.css');

/* Buttons */
#content #bbCodeContainer input, #content #logoutButton, #content #submitButton, #loginForm #loginButton {
    background-color : #cde7ff;
    color            : #333;
    border           : 1px solid #787878;
}

#content select, #loginForm select, #loginForm input, #content textarea {
    color  : #333;
    border : 1px solid #787878;
}

/* Status Icon */
#content #statusIconContainer {
    background : url('../../images/loading-sprite.png') no-repeat 0 0;
}

#content #statusIconContainer.waiting {
    background-position : 0 -22px;
}

#content #statusIconContainer.retrying {
    background-position : 0 -44px;
}

/* Other Theme Elements */
.ajax-chat {
    background-color : #e5e5e8;
    color            : #000;
}

.ajax-chat h1 {
    color : #000;
}

.ajax-chat a {
    color : #000;
}

#loginContent #errorContainer {
    color : red;
}

#content input, #content select, #content textarea {
    background-color : #fff;
    color            : #000;
}

#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer {
    border-color     : #adadad;
    background-color : #fff;
}

.ajax-chat .popup {
    background-color : #adadad;
    border           : 1px solid gray;
}

#content #colorCodesContainer a {
    border-color : black;
}

#content #optionsContainer input {
    background-color : transparent;
}

#content .rowEven, #helpList dl:nth-child(even), #settingsList dl:nth-child(even) {
    background-color : #ecedf3;
}

#content .rowOdd, #helpList dl:nth-child(odd), #settingsList dl:nth-child(odd) {
    background-color : #f6f6f6;
}

#content #chatList .rowOdd.private {
    background-color : #f8d0d0;
}

#content #chatList .rowEven.private {
    background-color : #f8d9d0;
}

#content #chatList .chatBotErrorMessage {
    color : red;
}

#content #chatList a {
    color : #476c8e;
}

#content #chatList .deleteSelected {
    border-color : red;
}

#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
    background-color : #88a6c0;
    color            : #fff;
}

@media (max-width : 700px) {
    #content #emoticonsContainer {
        background-color : #fff;
        border           : 1px solid #adadad;
    }
}
