/* Custom CSS - enter css overrides for all styles below */

/* e.g. to hide the logout button and the channel, style and language selectors, uncomment the following:

#content #logoutChannelContainer {
	display:none;
}
#content #mainPanelContainer {
	top: 45px;
}
#content #copyright {
	right: 60px;
}
#content #statusIconContainer {
	top: 10px;
}
*/

:root {
    --main-color: #0f0;
}

.mentioned {
    color: #5EFF00;
    text-shadow: 1px 1px #2C6609;
}

.text-1 {
    font-family: 'Oswald', sans-serif;
}

.text-2 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.text-3 {
    font-family: 'Nova Square', cursive;
}

.text-4 {
    font-family: 'Lobster', cursive;
}

.text-5 {
    font-family: 'Open Sans', sans-serif;
}

.text-6 {
    font-family: 'Encode Sans Condensed', sans-serif;
}

.text-7 {
    font-family: 'Baloo Bhaijaan', cursive;
}

.text-8 {
    font-family: 'Acme', sans-serif;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: none;
}

a,
input[type=button],
select {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.circle {
    list-style-type: circle;
    color: #CC0000;
}

.disc {
    list-style-type: disc;
    color: #00FF00;
}
