/*
 * @package AJAX_Chat
 * @author Rosina Ramirez
 */

html {
    height: 100%;
}

input, select, textarea, #content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer,
#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3, #content #inputFieldContainer, #loginContent input {
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
    border: 0;
}

#content #inputFieldContainer {
    padding: 0;
}

#content #inputFieldContainer #inputField {
    border: 0;
    padding: 8px 12px;
    width: calc(100% - 24px);
}

#content #inputFieldContainer #inputField:focus {
    outline: none;
}

#loginContent #loginButton {
    -webkit-border-radius: .1875em;
    -moz-border-radius: .1875em;
    border-radius: .18755em;
}

#loginContent #errorContainer {
    color: red;
}

#errorContainer {
    font-size: 2em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.ajax-chat {
    height: 100%;
    color: #fff;
}

.ajax-chat h1, .ajax-chat h3 {
    color: #e2e9db;
    text-shadow: 1px 1px 2px #191919;
}

.ajax-chat input, .ajax-chat select {
    padding: 3px;
}

#loginContent input, #loginContent select {
    background: #171717;
}

#content textarea {
    color: #b0b8a8;
}

#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer {
    border: 0;
}

#content #chatList:after, #content #chatList:before {
    content: '';
    display: block;
    position: absolute;
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
}

#content #chatList:before {
    top: 17px;
    left: 0;
    width: 0;
    height: 98%;
}

#content #chatList:after {
    top: 0;
    left: 17px;
    width: 98%;
    height: 0;
}

#content #onlineListContainer #onlineList div {
    margin: 0 1px 1px 1px;
    background: none;
}

#content #onlineListContainer #onlineList ul {
    margin-top: 1px;
    list-style: none;
}

#content #helplist table, #content #settingsList table {
    border-spacing: 0;
}

#content #emoticonsContainer {
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
}

#content #bbCodeContainer {
    border: 0;
    padding-left: 0;
}

/* Status Icon */
#content #statusIconContainer {
    background: url('../../images/loading-sprite.png') no-repeat 0 0;
}

#content #statusIconContainer.waiting {
    background-position: 0 -22px;
}

#content #statusIconContainer.retrying {
    background-position: 0 -44px;
}

#content #bbCodeContainer input {
    color: #1d1d1d;
}

#content #bbCodeContainer input:hover {
}

.ajax-chat .popup, .ajax-chat #content .popup#colorCodesContainer {
    border: 0;
    padding: 5px;
}

#content #colorCodesContainer a {
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    margin: 5px;
    border: 0;
}

#content #optionsContainer input.button {
    border: 0;
    padding: 0;
    margin-right: 5px;
}

#content #optionsContainer input {
    background-color: transparent;
}

#content .rowEven, #helpList dl:nth-child(even), #settingsList dl:nth-child(even) {
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .1);
}

#content .rowOdd, #helpList dl:nth-child(odd), #settingsList dl:nth-child(odd) {
    border: 1px solid transparent;
}

#content .rowEven:hover, #helpList dl:nth-child(even):hover, #settingsList dl:nth-child(even):hover {
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#content .rowOdd:hover, #helpList dl:nth-child(odd):hover, #settingsList dl:nth-child(odd):hover {
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#content #chatList .rowOdd.private, #content #chatList .rowEven.private {
    background: #0C3A00 linear-gradient(to bottom, #1C5417, #05410E);
}

#content #chatList .chatBotErrorMessage {
    color: red;
}

#content #chatList .deleteSelected {
    border-color: red;
}

#content #chatList span.dateTime {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .7em;
}

#content #chatList div.monospace {
    font-family: "Lucida Console", Monaco, monospace;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    white-space: pre-wrap;
}

input[type=button] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    padding: calc(0.375em - 1px) calc(0.625em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    -webkit-border-radius: .125em;
    -moz-border-radius: .125em;
    border-radius: .125em;
    font-size: 0.75rem;
}

input[type=button]:hover {
    border-color: #b5b5b5;
}

input[type=button]:active {
    outline: none;
    border-color: #4a4a4a;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .5em rgba(0, 0, 0, .1);
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
    background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar {
    width: 1em;
    background-color: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb:horizontal {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    -webkit-border-radius: .3125em;
    -moz-border-radius: .3125em;
    border-radius: .3125em;
    background-color: rgba(0, 0, 0, .1);
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}

::-webkit-scrollbar-thumb:vertical {
    border-left: 1px solid red;
    border-right: 1px solid red;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    border-radius: .625em;
    background-color: rgba(0, 0, 0, .1);
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}

