.mentioned {
    color:       var(--main-bdr-color);
    text-shadow: 1px 1px #000;
}

a {
    color:           var(--default-link-color);
    text-decoration: none;
}

a:hover {
    color:           var(--default-link-hover-color);
    text-decoration: none;
}

a,
input[type=button],
select {
    transition: all 0.35s ease-in-out;
}

.circle {
    list-style-type: circle;
    color:           #c00;
}

.disc {
    list-style-type: disc;
    color:           #0f0;
}
